
.account {
	font-weight: 400;
	@include flexbox();
	@include flex-direction(column);

	&__nav {
		width: 100%;
		z-index: 800;
		position: relative;
		margin-top: -1.5rem;
		@include order(1);

		&_toggle {
			width: 100%;
			color: #fff;
			padding: 14px;
			font-size: 18px;
			cursor: pointer;
			font-weight: 400;
			line-height: 20px;
			position: relative;
			display: inline-block;
			text-decoration: none;
			background: #2b2b2b  url("../img/nav_bg.png") 0 0;

			&:after,
			&:before {
				top: 24px;
				right: 33px;
				z-index: 5;
				content: '';
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				display: inline-block;
			}

			&:after {
				margin-right: -14px;
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}
		}

		&.open {

			.account__nav_toggle {

				&:after {
					@include rotate(45deg);
				}

				&:before {
					@include rotate(-45deg);
				}
			}

			ul {
				display: block;
			}
		}

		ul {
			left: 0;
			top: 100%;
			margin: 0;
			padding: 0;
			width: 100%;
			display: none;
			list-style: none;
			position: absolute;
			background: #2b2b2b  url("../img/nav_bg.png") 0 0;

			li {

				a {
					width: 100%;
					color: #fff;
					font-size: 18px;
					font-weight: 400;
					line-height: 20px;
					padding: 14px 10px;
					display: inline-block;
					text-decoration: none;
					border-top: 1px solid #000;
					border-bottom: 1px solid #535353;

					&:hover {
						background: #dc0d57;
						border-bottom-color: #df3874;
					}
				}

				&.active {

					a {
						background: #dc0d57;
						border-top-color: #df3874;
						border-bottom-color: #df3874;
					}
				}
			}
		}
	}

	&__content {
		padding-top: 15px;
		@include order(2);
	}

	&__personal {
		position: relative;

		h1 {
			margin-bottom: 0.75rem;
		}
	}

	&__photo {
		margin-bottom: 25px;

		&_item {
			margin-bottom: 20px;
		}

		.btn {
			width: 100%;
		}
	}

	&__add {
		margin-bottom: 20px;
		@include clearfix();

		&_btn {

			.btn {
				width: 100%;
			}
		}

		&_text {
			color: #4c4c4c;
			font-size: 18px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 15px;
		}
	}

	&__data {

		.btn {
			width: 100%;
		}
	}

	&__table {
		margin-bottom: 10px;
		border-collapse: collapse;

		tr {

			td {
				padding: 6px 0;
				color: #4c4c4c;
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				vertical-align: top;

				&:first-child {
					font-weight: 600;
					padding-right: 20px;
				}
			}
		}
	}

	&__menu {
		margin-bottom: 30px;

		ul {
			width: 210px;
			margin: 0 auto;
			background: #fff;
			list-style: none;
			padding: 7px 12px;
			@include border-radius(10px);
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));

			li {
				border-bottom: 1px solid #e6e6e6;

				&:last-child {
					border-bottom: none;
				}

				a {
					color: #4c4c4c;
					font-size: 14px;
					line-height: 20px;
					position: relative;
					display: inline-block;
					padding: 4px 0 4px 33px;
					text-decoration: none;

					i {
						left: 0;
						top: 10px;
						height: 16px;
						position: absolute;
						display: inline-block;
					}

					.ico-svg {
						fill: #4c4c4c;
					}
				}
			}
		}
	}

	.btn-inline {
		padding: 0;
		margin: 0 -10px;
		list-style: none;
		@include clearfix();

		> li {
			padding: 0 10px;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		.btn {
			width: 100%;
		}
	}

	&__warning {
		background: #fff;
		font-weight: 400;
		padding: 15px 20px;
		margin-bottom: 15px;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));

		a {
			color: #91cbff;
		}
	}

	&__title {
		font-size: 1.5rem;
		line-height: 1.1;
		margin-bottom: 1.25rem;
		font-family: $font-head;
	}

	&__h3 {
		color: #4c4c4c;
		font-weight: 400;
		line-height: 2rem;
		font-size: 1.875rem;
		margin-bottom: 1.25rem;
	}

	@media (min-width: $screen-sm-min) {

		&__add {

			&_btn {

				.btn {
					width: 210px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		@include flex-direction(row);

		&__nav {
			width: 212px;
			margin-top: 0;
			min-width: 212px;
			position: relative;
			@include order(2);

			&_toggle {
				display: none;
			}

			ul {
				top: auto;
				left: auto;
				display: block;
				position: relative;
			}
		}

		&__content {
			padding-top: 0;
			padding-right: 28px;
			@include flex-grow(1);
			@include order(1);
		}

		&__personal {
			padding-left: 180px;

			.account__photo {
				top: 0;
				left: 0;
				position: absolute;
			}
		}

		&__photo {
			width: 150px;
			min-width: 150px;
		}

		.btn-inline {
			width: 220px;
			margin-top: -60px;
			margin-left: 175px;
		}

		&__row {
			position: relative;
			@include flexbox();
			@include flex-wrap(wrap);

			.account__photo {
				margin-bottom: 0;

				&_item {
					margin-bottom: 0;
				}
			}
		}

		&__data {
			width: 298px;
			padding-left: 25px;
		}

		&__menu {
			width: 150px;
			margin-top: -60px;

			ul {
				width: auto;
			}
		}

		&__title {
			font-size: 1.875rem;
		}

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flex-wrap(nowrap);
		}

		&__nav {
			width: 280px;
			min-width: 280px;
		}

		&__content {
			padding-right: 20px;
		}

		&__personal {
			padding-left: 300px;
		}

		&__photo {
			width: 280px;
			min-width: 280px;
		}

		&__add {

			&_btn {
				float: left;

				.btn {
					width: 270px;
				}
			}

			&_text {
				float: right;
				margin-bottom: 0;
				padding-top: 8px;
			}
		}

		&__data {
			width: auto;
			@include flex-grow(1);
		}

		&__box {

			.account__photo {
				width: 150px;
				min-width: 150px;
			}
		}

		.btn-inline {
			width: auto;
			margin: 0 0 0 -10px;

			> li {
				float: left;
			}

			.btn {
				width: 205px;
			}
		}

		&__menu {
			margin-top: 0;
		}

		&__warning {
			margin-bottom: 25px;
		}

		.form-box-md {
			max-width: 580px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__box {

			.account__photo {
				width: 205px;
				min-width: 205px;
			}
		}

		&__menu {
			width: 205px;
			min-width: 205px;
			margin-top: 0;

			ul {

				li {

					a {
						font-size: 16px;
					}
				}
			}
		}
	}
}

.questionnaire {

	&__about {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		> li {
			padding: 0 10px;
		}
	}

	&__social {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		> li {
			padding: 0 10px;
			margin-bottom: 15px;
		}
	}

	&__place {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		> li {
			padding: 0 10px;
		}
	}

	.form-box {
		margin: 0 -10px;

		.form-box-lg,
		.form-box-xs {
			padding: 0 10px;
		}
	}

	&__price {
		margin: 0 -10px;

		&_col {
			padding: 0 10px;
		}

		&_list {
			padding: 0;
			margin: 0 -10px;
			list-style: none;

			> li {
				padding: 0 10px;
			}
		}
	}

	&__schedule {
		margin: 0 -10px;

		&_day {
			padding: 0 10px;

			> ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include flexbox();
				@include flex-wrap(wrap);

				> li {
					width: 65px;
					padding: 10px 0;
				}
			}
		}

		&_time {
			padding: 0 10px;
		}
	}

	&__restriction {
		margin: 0 -10px;

		&_people {
			padding: 0 10px;

			> ul {
				padding: 0;
				margin: 0 -10px;
				list-style: none;
				@include flexbox();
				@include flex-wrap(wrap);

				> li {
					width: 50%;
					padding: 10px 0;
				}
			}
		}

		&_age {
			padding: 0 10px;
		}
	}

	&__service {
		margin: 0 -10px;

		&_col {
			padding: 0 10px;
			margin-bottom: 15px;

			> ul {
				margin: 0;
				padding: 0;
				list-style: none;

				> li {
					padding: 6px 0;
				}
			}
		}
	}

	&__vip {
		margin: 0 -10px;

		&_name {
			padding: 0 10px;
		}

		&_price {
			padding: 0 10px;
		}
	}


	@media (min-width: $screen-md-min) {

		&__about {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {

				&:nth-child(1) {
					width: 100%;
				}

				&:nth-child(2) {
					width: 170px;
				}

				&:nth-child(3) {
					width: 300px;
				}
			}
		}

		&__place {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 50%;
			}
		}

		.form-box {
			margin: 0 -10px;
			@include flexbox();
			@include flex-wrap(wrap);

			.form-box-lg {
				width: 100%;
			}

			.form-box-xs {
				width: 180px;
			}
		}

		&__price {

			&_list {
				@include flexbox();

				> li {
					width: 33.33%;
				}

				.form-group {
					margin-bottom: 0;
				}
			}
		}

		&__restriction {

			&_people {
				padding: 0 10px;

				> ul {

					> li {
						width: auto;
						padding-right: 35px;
					}
				}
			}
		}

		&__vip {
			@include flexbox();

			&_name {
				width: 60%;
			}

			&_price {
				width: 40%;
			}
		}

		.blackList {
			@include flexbox();
			@include flex-wrap(wrap);

			&__item {
				width: 217px;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&__about {
			@include flex-wrap(nowrap);

			> li {

				&:nth-child(1) {
					width: 280px;
				}

				&:nth-child(2) {
					width: 150px;
				}

				&:nth-child(3) {
					width: 250px;
				}
			}
		}

		&__social {
			@include flexbox();

			> li {
				width: 225px;
				margin-bottom: 0;
				padding: 0 10px;
			}
		}

		&__place {
			width: 600px;
		}

		.form-box {

			.form-box-lg {
				width: 500px;
			}
		}

		&__vip {
			@include flexbox();

			&_name {
				width: 75%;
				@include order(1);
			}

			&_price {
				width: 25%;
				@include order(2);
			}
		}

		&__service {
			@include flexbox();

			&_col {
				width: 50%;
			}
		}
	}


	@media (min-width: $screen-xl-min) {

		&__about {

			> li {

				&:nth-child(1) {
					width: 300px;
				}

				&:nth-child(3) {
					width: 280px;
				}
			}
		}

		&__price {
			@include flexbox();

			&_col {
				width: 50%;
			}
		}

		&__schedule {
			@include flexbox();
			@include justify-content(space-between);

			&_day {

				> ul {

					> li {
						width: 85px;
						padding: 12px 0;
					}
				}

			}
		}

		&__restriction {
			@include flexbox();
			@include justify-content(space-between);

			&_people {
				width: 540px;
			}
		}
	}
}

.catalog {
	max-width: 305px;
	margin: 0 auto;

	&__item {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -15px;
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(wrap);

		&__item {
			width: 50%;
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: 33.33%;
			padding: 0 10px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.list_count {
	margin-bottom: 20px;
}

.no_photo {
	color: #999;
	height: 256px;
	display: block;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	padding: 133px 10px 10px 10px;
	background: #ececec url("../img/no-photo.png") 50% 70px no-repeat;
}

.form_box_medium {

	@media (min-width: $screen-lg-min) {
		width: 430px;
	}
}

.account-info {

	a {
		color: #91cbff;
	}
}

.form_pay {

	&__row {
		margin: 0 -10px;
	}

	&__value {
		padding: 0 10px;
	}

	&__type {
		padding: 0 10px;
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
		}

		&__value {
			width: 170px;
		}

		&__type {
			width: 300px;
		}

		.btn {
			width: 205px;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__value {
			width: 225px;
		}

		&__type {
			width: 375px;
		}
	}
}

.post {
	padding: 10px;
	background: #fcfcee;
	margin-bottom: 10px;
	@include flexbox();

	&__image {
		width: 60px;
		min-width: 60px;
	}

	&__content {
		color: #4c4c4c;
		font-size: 18px;
		font-weight: 300;
		@include flex-grow(1);
	}

	&__heading {
		margin-bottom: 8px;

		&_info {

			strong {
				color: #000;
				font-size: 20px;
				font-weight: 500;
				line-height: 24px;
				display: block;
			}

			span {
				color: #4c4c4c;
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				display: inline-block;
			}
		}

		&_view {
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
		}
	}

	&__content {
		padding-left: 10px;

		strong {
			font-weight: 500;
		}
	}

	&_answer {
		margin-left: 24px;
		background: #f7f7f7;
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			@include flexbox();
			@include justify-content(space-between);

			&_info {}

			&_view {

			}
		}

		&_answer {
			margin-left: 45px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			padding-left: 20px;
		}

		&__heading {

			&_info {
				@include flexbox();

				strong {
					display: inline-block;
				}

				span {
					margin-left: 30px;


					&:before {
						content: '|';
						padding-right: 25px;
					}
				}
			}
		}

		&_answer {
			margin-left: 75px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.notifications {

	&__head {

		> ul {
			margin: 0;
			padding: 0;
			color: #fff;
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			list-style: none;
			font-family: $font-head;
			background: $color-purple;
			@include flexbox();

			> li {
				min-height: 1px;

				&:nth-child(1) {
					@include flex-grow(1);
				}

				&:nth-child(2) {
					width: 75px;
					min-width: 75px;
					padding: 10px 0;
					text-align: center;
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	&__row {
		color: #4c4c4c;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;

		&:nth-child(even) {
			background: #edf1f4;
		}

		&_info {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();


			> li {
				min-height: 50px;

				&:first-child {
					padding: 7px;
					@include flexbox();
					@include flex-grow(1);

					> span {
						margin: auto 0;
						display: inline-block;
					}
				}

				&:last-child {
					width: 75px;
					padding: 7px;
					min-width: 75px;
					text-align: center;
					@include flexbox();

					label {
						margin: auto;
					}
				}
			}
		}

		&_data {
			width: 170px;
			list-style: none;
			margin: 0 0 0 7px;
			padding: 0 0 0.375rem 0;

			> li {
				padding: 4px 0;

				&:first-child {
					padding-left: 10px;
				}
			}
		}
	}

	&__range {
		@include flexbox();

		&_label {
			color: #000;
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 1.125rem;
			padding: 0.125rem 0;

			&.label_first {
				width: 10px;
			}

			&.label_last {
				width: 30px;
				padding-left: 0.375rem;
			}
		}

		&_input {
			@include flex-grow(1);
		}
	}

	&__select {
		margin: 0;
		width: 100%;
		outline: none;
		color: #4c4c4c;
		overflow: hidden;
		font-weight: 200;
		position: relative;
		font-size: 0.875rem;
		line-height: 1rem;
		display: inline-block;
		text-decoration: none;
		border: 1px solid #e6e6e6;
		padding: 0.125rem 1.25rem 0.125rem 0.375rem;
		background: #fff url("../img/select_sm.png") 100% 50% no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';

		-ms-appearance: none;
		appearance: none!important;

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&::-ms-expand {
			display: none;
		}
	}


	@media (min-width: $screen-md-min) {

		&__head {

			> ul {

				> li {

					&:nth-child(1) {
						width: 220px;
						@include flex-grow(0);
					}

					&:nth-child(2) {
						text-align: center;
					}


					&:nth-child(3) {
						padding: 0 10px 0 20px;
						width: 170px;
						min-width: 170px;
						display: block;
					}
				}
			}
		}

		&__row {
			@include flexbox();

			&_info {
				@include flex-grow(1);

				> li {

					&:first-child {
						width: 220px;
					}

					&:last-child {
						text-align: center;
					}
				}
			}

			&_data {
				width: 180px;
				min-width: 180px;
				padding: 5px 10px 0 0;
			}
		}

		&__range {
			margin: auto 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__head {

			> ul {

				> li {
					&:nth-child(1) {
						width: 398px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__head {

			> ul {

				> li {

					&:nth-child(1) {
						width: 355px;
					}

					&:nth-child(3) {
						padding: 10px 10px;
						width: 440px;
						min-width: 440px;
						display: block;

						span {
							display: inline-block;

							&:first-child {
								width: 185px;
							}
						}
					}
				}
			}
		}

		&__row {
			font-size: 18px;
			line-height: 22px;

			&_info {
				width: 430px;
				@include flex-grow(0);

				> ul {

					> li {

						&:first-child {
							width: 355px;
							@include flex-grow(0);
						}
					}
				}
			}

			&_data {
				width: auto;
				@include flexbox();
				@include flex-grow(1);

				> li {

					&:first-child {
						width: 180px;
						padding-right: 28px;
					}

					&:last-child {
						width: 240px;
					}
				}
			}
		}

		&__range {

			&_label {
				font-size: 18px;
				padding: 0.75rem 0;

				&.label_first {
					width: 15px;
				}

				&.label_last {
					width: 40px;
					padding-left: 0.625rem;
				}
			}
		}

		&__select {
			padding: 0.75rem 2rem 0.75rem 0.75rem;
			background: #fff url("../img/select.png") 100% 50% no-repeat;
		}
	}
}

.empty {
	font-weight: 500;
	background: #fff;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: $color-purple;
	padding: 2.5rem 1.5rem;
	text-align: center;
	text-transform: uppercase;
	@include border-radius(8px);
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));

	p {
		margin-bottom: 1rem;
	}

	@media (min-width: $screen-md-min) {
		padding: 2.75rem 1rem;
	}

	@media (min-width: $screen-lg-min) {
		padding: 3rem 1.5rem;
		font-size: 1.875rem;
		line-height: 2rem;
	}
}

.banner_nav {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -5px 20px -5px;

	> li {
		padding: 0 5px;
		margin-bottom: 5px;
		display: inline-block;

		a {
			color: #4c4c4c;
			font-weight: 500;
			background: #fff;
			text-align: center;
			font-size: 1.125rem;
			line-height: 1.25rem;
			display: inline-block;
			text-decoration: none;
			padding: 1.125rem 2.5rem;
			@include border-radius(8px);
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));
			@include transition(.3s);

			&:hover {
				background: #fccfd8;
				@include transition(.3s);
			}

			&:active {
				@include box-shadow(inset 0px 0px 10px 0px rgba(0, 0, 0, 0.18));
			}
		}

		&.active {

			a {
				background: #fccfd8;
			}
		}
	}
}

.myBanner {
	padding: 10px;
	max-width: 290px;
	text-align: center;
	position: relative;
	background: #fe97bf;
	margin: 0 auto 30px auto;
	@include border-radius(8px);

	&:before {
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 1;
		content: '';
		position: absolute;
		border: 1px solid #fdf6c2;
	}

	&__content {
		z-index: 10;
		position: relative;
		padding: 10px 0 20px 0;
	}

	&__row {

	}

	&__photo {
		width: 150px;
		display: block;
		min-width: 150px;
		margin: 0 auto 0.5rem auto;

		&_item {
			width: 150px;
			height: 150px;
			overflow: hidden;
			@include border-radius(9px);
		}
	}

	&__info {

	}

	&__name {
		color: #000;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
	}

	&__price {
		color: #fff;
		width: 160px;
		display: block;
		padding: 11px 10px;
		text-align: center;
		font-size: 1.125rem;
		line-height: 1.25rem;
		background: $color-purple;
		margin: 0 auto 0.5rem auto;
	}

	&__type {
		color: #4c4c4c;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 0.25rem;
	}

	&__nav {
		padding: 0;
		font-size: 0.875rem;
		line-height: 1.25rem;
		list-style: none;
		margin: 0 0 6px 0;
		@include clearfix();

		> li {

			a {
				color: #91cbff;
				text-decoration: none;

				i {
					margin-right: 3px;
				}


				span {
					text-decoration: underline;
				}

				&:hover {

					span {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__meta {
		list-style: none;
		margin: 0 0 20px 0;
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 1rem 0.625rem;
		border-top: 1px solid #fdc7c1;
		border-bottom: 1px solid #fdc7c1;
		@include clearfix();

		> li {
			display: block;

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}

	&__view {
		color: #000;
		position: relative;
		padding-left: 28px;
		font-size: 0.875rem;
		line-height: 1.25rem;
		display: inline-block;
		text-decoration: none;

		&:before {
			top: 4px;
			left: 0;
			content: '';
			width: 19px;
			height: 14px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__eye.svg") 0 0 no-repeat;
			background-size: cover;
		}

		span {
			border-bottom: 1px dashed #000;
		}
	}

	&__position {
		color: #000;

		strong {
			font-weight: 700;
			color: $color-purple;
		}
	}

	&__vip {
		width: 110px;
		display: block;
		font-weight: 500;
		padding-top: 60px;
		text-align: center;
		position: relative;
		font-size: 1.25rem;
		line-height: 1.25rem;
		color: $color-purple;
		text-decoration: none;
		margin: 0 auto 15px auto;

		i {
			top: 0;
			left: 50%;
			width: 50px;
			display: block;
			margin-left: -25px;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;
		text-align: left;

		&__content {
			overflow: hidden;
			position: relative;
			padding: 10px 10px 20px 10px;


			&:before {
				right: 134px;
				top: 0;
				bottom: 0;
				width: 1px;
				content: '';
				position: absolute;
				background: #fdc7c1;
			}
		}

		&__row {
			margin-bottom: 0.5rem;
			@include flexbox();
			@include justify-content(left);
		}

		&__photo {
			margin: 0;
		}

		&__info {
			position: relative;
			padding-left: 10px;
			@include flex-grow(1);
		}

		&__name {
			width: 120px;
			margin-bottom: 0;
		}

		&__price {
			padding-left: 0;
			text-align: left;
			margin: 0 0 0.5rem 0;
			background: transparent;
		}

		&__nav {
			padding-right: 130px;

			> li {
				float: left;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__meta {
			margin: 0 -10px;
			padding: 1.75rem 145px 0.375rem 10px;
			border-bottom: none;

		}

		&__vip {
			margin: 0;
			top: 52px;
			right: 12px;
			position: absolute;
		}

		.btn {
			right: 10px;
			bottom: 20px;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			margin-bottom: 20px;
		}

		&__name {
			width: auto;
			font-size: 1.125rem;
			margin-bottom: 0.875rem;
		}

		&__price {
			width: 180px;
			font-size: 1.25rem;
			padding: 11px 10px;
			text-align: center;
			margin-bottom: 1rem;
			background: $color-purple;
		}

		&__type {
			font-size: 1.125rem;
		}

		&__nav {
			top: 140px;
			left: 170px;
			position: absolute;

			> li {
			}
		}

		&__meta {
			font-size: 1.125rem;
			padding-top: 1rem;
			padding-bottom: 0;
		}

		&__vip {
			top: 35px;
			padding-top: 95px;

			i {
				width: 80px;
				height: 80px;
				margin-left: -40px;
			}
		}

		.btn {
			bottom: 15px;
		}
	}


	@media (min-width: $screen-xl-min) {

		&__nav {
			font-size: 1.125rem;
			line-height: 1.25rem;

			> li {
				margin-right: 25px;
			}
		}
	}
}

.add_form {
	max-width: 300px;

	@media (min-width: $screen-lg-min) {
		max-width: inherit;

		.btn {
			width: 260px;
		}
	}
}

.form-date {
	max-width: 340px;
}

.text_box {
	font-weight: 400;
	background: #fff;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1.25rem;
	@include border-radius(0.5rem);
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));

	a {
		color: #91cbff;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	p {
		margin-bottom: 0.625rem;
	}
}

.text_lg {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.5rem;


	@media (min-width: $screen-md-min) {
		font-size: 1.5rem;
		line-height: 1.625rem;
	}

}

.text_warning {
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
	font-weight: 400;
	text-align: center;
	color: $color-purple;
}

.package {
	padding: 10px;
	background: #fce1eb;
	margin-bottom: 30px;
	@include border-radius(8px);

	&_queen {
		background: #fe97bf;

		.package__heading {
			border-bottom: 1px solid #fdc7c1;
		}
	}

	&_princess_plus {
		background: #ffb0ce;
	}

	&_princess {
		background: #ffc9de;
	}

	&_cinderella {
		background: #fce1eb;
	}

	&__content {
		position: relative;
		border: 1px solid #fdf6c2;
		padding: 10px 10px 20px 10px;
	}

	&__heading {
		position: relative;
		padding-left: 60px;
		margin-bottom: 1.25rem;

		&_icon {
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
			position: absolute;
			@include border-radius(50%);
		}

		&_name {
			color: #000;
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 1.25rem;
			margin-bottom: 0.625rem;
		}

		&_text {
			color: #000;
			font-weight: 300;
			font-size: 0.875rem;
			line-height: 1.25rem;
			padding-bottom: 0.125rem;
		}
	}

	&__description {
		margin: 0;
		color: #000;
		font-size: 1rem;
		list-style: none;
		font-weight: 200;
		line-height: 1.25rem;
		padding: 0 0 0.25rem 0;

		> li {
			padding-left: 30px;
			position: relative;
			margin-bottom: 0.625rem;
			background: url("../img/icon__list_check.png") 0 2px no-repeat;

			&.icon_check_blue {
				background: url("../img/icon__list_check_blue.png") 0 2px no-repeat;
			}

			&.icon_cancel {
				background: url("../img/icon__cancel.png") 0 2px no-repeat;
			}

			strong {
				font-weight: 500;
			}
		}
	}

	&__info {
		z-index: 10;
		text-align: center;
		margin-bottom: 1.25rem;

		a {
			color: #000;
			font-weight: 200;
			padding-left: 25px;
			font-size: 1.125rem;
			line-height: 1.25rem;
			display: inline-block;
			text-decoration: none;
			background: url("../img/icon_question.png") 0 50% no-repeat;

			span {
				border-bottom: 1px dotted #000;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__price {
		color: #fff;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 1.25rem;
		text-align: center;
		background: #e96192;
		padding: 11px 10px;
		margin: 0 -10px 20px -10px;
	}

	&__action {
		position: relative;
		text-align: center;
	}

	&__next {
		padding-top: 10px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {

		&__info {
			left: 10px;
			bottom: 30px;
			text-align: left;
			position: absolute;
			margin-bottom: 0;
			display: inline-block;
		}

		&__action {
			text-align: right;
		}

		&__next {
			text-align: right;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__action {
			text-align: center;
		}
	}
}

.package_label {
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #fff;
		outline: none;
		border: none;
		font-weight: 300;
		cursor: pointer;
		user-select: none;
		font-size: 1.25rem;
		text-align: center;
		position: relative;
		white-space: nowrap;
		line-height: 1.25rem;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		background: $color-purple;
		font-family: $font-base;
		padding: 0.5rem 4rem 0.5rem 6.25rem;
		@include transition(.2s);

		&:before {
			top: 50%;
			left: 68px;
			z-index: 5;
			content: '';
			width: 24px;
			height: 24px;
			overflow: hidden;
			margin-top: -12px;
			background: #fff url("../img/icon__checkbox_purple.png") -200px 50% no-repeat;
			position: absolute;
			@include border-radius(50%);
		}
	}

	input:checked + span:before {
		background-position: 50% 50%;
	}
}

.package_label_base {
	cursor: pointer;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		line-height: 1.5rem;
		font-weight: 300;
		font-size: 1.25rem;
		position: relative;
		padding-left: 2rem;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 5;
			content: '';
			width: 24px;
			height: 24px;
			overflow: hidden;
			border: 1px solid #cecece;
			background: #fff url("../img/icon__checkbox_purple.png") -200px 50% no-repeat;
			position: absolute;
			@include border-radius(50%);
		}
	}

	input:checked + span:before {
		background-position: 50% 50%;
	}
}

.vipOffer {
	padding: 10px;
	background: #fe97bf;
	margin-bottom: 1rem;
	@include border-radius(8px);

	&__content {
		position: relative;
		border: 1px solid #fdf6c2;
		padding: 10px 10px 20px 10px;
	}

	&__heading {
		position: relative;
		padding-left: 40px;
		margin-bottom: 0.25rem;
		padding-bottom: 0.25rem;
		border-bottom: 1px solid #fdc7c1;

		&_icon {
			top: 0;
			left: 0;
			width: 30px;
			height: 30px;
			position: absolute;
			@include border-radius(50%);
		}

		&_name {
			color: #000;
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 1.25rem;
			margin-bottom: 0.25rem;
		}

		&_text {
			color: #000;
			font-weight: 300;
			font-size: 0.875rem;
			line-height: 1.25rem;
			padding-bottom: 0.125rem;
		}
	}

	&__price {
		color: #fff;
		width: 230px;
		margin: 0 auto;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 1.25rem;
		text-align: center;
		background: #ea4481;
		padding: 11px 10px;
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			min-height: 70px;
			padding-left: 60px;
			margin-bottom: 1rem;

			&_icon {
				width: 50px;
				height: 50px;
			}

			&_name {
				margin-bottom: 0.625rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__price {
			right: 10px;
			bottom: 30px;
			position: absolute;
		}
	}
}

.checkout {
	text-align: center;

	&__price {
		font-size: 1.25rem;
		line-height: 1.25rem;
		margin-bottom: 1rem;
	}

	@media (min-width: $screen-md-min) {
		text-align: right;
	}
}


.app {
	font-weight: 400;

	&__nav {
		width: 100%;
		z-index: 700;
		position: relative;
		margin-bottom: 1.5rem;

		&_toggle {
			width: 100%;
			color: #fff;
			padding: 14px;
			font-size: 18px;
			cursor: pointer;
			font-weight: 700;
			line-height: 20px;
			position: relative;
			background: #d81058;
			display: inline-block;
			text-decoration: none;
			font-family: $font-head;

			&:after,
			&:before {
				top: 24px;
				right: 33px;
				z-index: 5;
				content: '';
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				display: inline-block;
			}

			&:after {
				margin-right: -14px;
				@include rotate(-45deg);
			}

			&:before {
				@include rotate(45deg);
			}
		}

		&.open {

			.app__nav_toggle {

				&:after {
					@include rotate(45deg);
				}

				&:before {
					@include rotate(-45deg);
				}
			}

			.app__nav_content {
				display: block;
			}
		}

		&_content {
			left: 0;
			top: 100%;
			width: 100%;
			display: none;
			position: absolute;
			background: #d81058;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;


			li {

				a {
					width: 100%;
					color: #fff;
					font-size: 18px;
					font-weight: 700;
					line-height: 20px;
					padding: 14px 10px;
					display: block;
					text-decoration: none;
					font-family: $font-head;
					border-top: 1px solid #ed87ac;
				}

				&.active {

					a {
						background: #d81058;
					}
				}
			}
		}
	}

	strong {
		color: #000;
		font-weight: 500;
	}

	&__chart {

		&_one {
			height: 200px;
			overflow: hidden;
		}

		&_two {
			height: 200px;
			overflow: hidden;
		}

		.app__char {
			max-height: 100%;
			overflow: hidden;
		}
	}

	&__legend {
		margin-left: 2rem;
		margin-bottom: 2rem;

		&_item {
			display: block;
			font-weight: 400;
			position: relative;
			padding-left: 2rem;
			font-size: 1.125rem;
			line-height: 1.25rem;

			&:before {
				left: 0;
				content: '';
				top: 0.25rem;
				width: 1.5rem;
				display: block;
				height: 0.75rem;
				position: absolute;
			}
		}

		&_one {

			&:before {
				background: #91cbff;
			}
		}

		&_two {

			&:before {
				background: #dd0c57;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {

			&_toggle {
				display: none;
			}

			&_content {
				top: auto;
				left: auto;
				display: block;
				position: relative;
			}

			ul {
				@include flexbox();

				&:first-child {
					border-bottom: 1px solid #fff;
				}

				li {
					@include flex-grow(1);

					a {
						text-align: center;
						border: 1px solid $color-purple;

						&:hover {
							color: $color-purple;
							background: #fff;
						}
					}

					&.active {

						a {
							background: #fff;
							color: $color-purple;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			&_content {
				@include flexbox();
			}

			ul {
				@include flex-grow(1);

				&:first-child {
					border-bottom: none;
				}
			}
		}
	}
}

.opinion {
	position: relative;
	margin-bottom: 33px;
	padding-bottom: 30px;
	border-bottom: 2px solid #e6e6e6;

	&:before {
		left: 0;
		right: 0;
		height: 1px;
		content: '';
		bottom: -5px;
		position: absolute;
		background: #e6e6e6;
	}

	&__avatar {
		width: 60px;
		overflow: hidden;
		margin-bottom: 10px;
		border: 2px solid #edf1f4;
		@include border-radius(4px);
	}

	&__content {
		color: #3d3d3d;
		background: #fff;
		margin-bottom: 20px;
		padding: 1rem 1.25rem;
		border: 2px solid #edf1f4;
		@include border-radius(6px);
	}

	&__author {
		color: #aad6ff;
		font-weight: 700;
		font-size: 1.25rem;
		font-style: italic;
	}

	&__date {
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
	}

	&__rate {
		color: #3d3d3d;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
		line-height: 1.375rem;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

			li {
				float: left;

				&:first-child {
					width: 110px;
				}

				&:last-child {
					font-size: 0;
					line-height: 0;
					@include clearfix();
				}

				i {
					width: 15px;
					display: inline-block;
					margin-right: 0.25rem;
				}
			}
		}
	}

	&__text {
		color: #3d3d3d;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.375rem;
		margin-bottom: 0.25rem;
	}

	&__action {
		@include flexbox();
		@include justify-content(space-between);
	}

	&__like {
		margin: 0;
		padding: 0;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.25rem;
		list-style: none;
		@include clearfix();

		li {
			float: left;
			margin-right: 10px;
			padding-left: 24px;
			position: relative;

			&:first-child {
				color: #3d7641;

				i {
					top: 3px;
					@include rotate(180deg);
				}

				.ico-svg {
					fill: #3d7641;
				}
			}

			&:last-child {
				color: $color-purple;

				.ico-svg {
					fill: $color-purple;
				}
			}
		}

		i {
			left: 0;
			top: 2px;
			width: 18px;
			height: 17px;
			display: block;
			position: absolute;
		}
	}

	&__detailed {
		color: #aad6ff;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25rem;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: $color-purple;
		}
	}

	&__item {
		@include flexbox();
		@include justify-content(flex-end);
		@include align-items(flex-end);
	}

	&__goods {
		width: 206px;
		position: relative;

		&:before {
			top: 0;
			left: -75px;
			content: '';
			width: 66px;
			height: 27px;
			display: block;
			position: absolute;
			background: url("../img/review__arrow.png") 0 0 no-repeat;
			@include rotate(50deg);
		}

		.goods {
			width: auto;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-left: 85px;

		&__avatar {
			top: 0;
			left: 10px;
			position: absolute;
		}

		&__goods {

			&:before {
				left: -85px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		border-bottom: none;
		@include flexbox();

		&:before {
			display: none;
		}

		&__content {
			margin-bottom: 0;
			@include flex-grow(1)
		}

		&__item {
			width: 237px;
			min-width: 237px;
			padding-left: 20px;
			@include justify-content(flex-start);
		}

		&__goods {

			&:before {
				top: 100%;
				left: -40px;
				margin-top: 10px;
				@include rotate(0);
			}
		}
	}
}

.advertising {

	&__status {
		width: 250px;
		margin-bottom: 1.25rem;

		h4 {
			margin-bottom: 0.875rem;
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: 300;
			font-size: 1.25rem;
			line-height: 1.25rem;

			> li {
				padding: 0.625rem 0;

				&:nth-child(1) {
					text-align: center;
				}

				&:nth-child(2) {

				}

				&:nth-child(3) {
					font-weight: 500;
				}
			}
		}

		.btn {
			width: 220px;
		}
	}

	&__info {
		padding: 0;
		font-size: 1rem;
		list-style: none;
		margin: 0 0 0.875rem 0;

		li {
			font-weight: 400;
			margin-bottom: 0.625rem;

			strong {
				color: #000;
				font-weight: 500;
			}
		}
	}

	&__box {

		strong {
			font-weight: 500;
		}
	}

	&__strategy {
		width: 100%;
		table-layout: fixed;
		border-spacing: 0;
		margin: 0 0 1.25rem 0;
		border-collapse: collapse;

		thead {
			display: none;
		}

		tr {
			padding:5px;
			display: block;

			&:nth-child(odd) {
				background: #edf1f4;
			}
		}

		th {

		}

		td {
			width: 100%;
			display: table;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.125rem;

			&:before {
				padding: 5px;
				width: 100px;
				display: table-cell;
				content: attr(data-label);
				vertical-align: middle;
			}

			.tElem {
				padding: 5px;
				display: table-cell;
				vertical-align: middle;
			}
		}

		.form-select {
			font-size: 0.8125rem;
			padding: 0.375rem 2.5rem 0.375rem 1rem;
		}

		.form-control {
			font-size: 0.8125rem;
			padding: 0.375rem 1rem 0.375rem 1rem;
		}
	}

	&__schedule {
		display: table;
		max-width: 300px;
		border-spacing: 0;
		table-layout: fixed;
		margin-bottom: 1.25rem;
		border-collapse: collapse;

		thead {
			display: none;
		}

		tr {
			display: block;
			overflow: hidden;
			position: relative;
			padding: 2.625rem 0 1.125rem 0;

			&:nth-child(odd) {
				background: #edf1f4;
			}

			&:before {
				top: 1rem;
				left: 0.625rem;
				position: absolute;
				display: inline-block;
				content: attr(data-heading);
			}
		}

		td {
			float: left;
			width: 33.33%;
			display: block;
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.25rem;
			padding: 0.125rem 0.625rem;

			&:first-child {
				width: auto;
				float: none;
				top: 1rem;
				right: 0.625rem;
				position: absolute;
			}

		}
	}

	@media (min-width: $screen-md-min) {

		&__status {
			width: 100%;

			> ul {
				text-align: center;
				@include flexbox();
				@include flex-wrap(wrap);

				> li {
					width: 50%;

					&:nth-child(2) {
						padding: 0;
					}

					&:nth-child(3) {
						width: 100%;
					}
				}
			}
		}

		&__info {
			font-size: 1.125rem;
		}

		&__box {
			padding: 0 0.625rem;
		}

		&__strategy {

			tr {
				padding: 10px 15px;
			}

			td {
				font-size: 1.125rem;

				&:before {
					width: 170px;
				}
			}

			.form-select {
				font-size: 1rem;
			}

			.form-control {
				font-size: 1rem;
			}
		}

		&__schedule {
			width: 100%;
			max-width: inherit;

			td {
				width: 25%;

				&:first-child {
					left: 165px;
					right: auto;
					width: auto;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&__status {
			max-width: 730px;

			> ul {
				@include flex-wrap(nowrap);
				@include justify-content(space-between);

				> li {
					width: auto;
					text-align: center;

					&:nth-child(1) {
						width: 160px;
					}

					&:nth-child(2) {
						width: 210px;
					}

					&:nth-child(3) {
						width: auto;
						@include flex-grow(1);
					}
				}
			}
		}

		&__schedule {

			td {
				width: 16.66%;

				&:first-child {
					width: auto;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__status {

			> ul {

				> li {

					&:nth-child(1) {
						width: 210px;
					}
				}
			}
		}

		&__strategy {

			thead {
				display: table-row-group;
			}

			th {
				color: #fff;
				font-size: 1.125rem;
				font-weight: 700;
				padding: 0.125rem 0.625rem;
				text-align: center;
				line-height: 1.25rem;
				font-family: $font-head;
				background: $color-purple;


				&:nth-child(1) {
					width: 160px;
					white-space: nowrap;
				}

				&:nth-child(2) {
					white-space: nowrap;
				}

				&:nth-child(4) {
					width: 130px;
				}

				&:nth-child(5) {
					width: 130px;
				}
			}


			td {
				width: auto;
				white-space: nowrap;
				display: table-cell;
				padding: 1.25rem 0.625rem;

				&:before {
					display: none;
				}

				.tElem {
					padding: 0;
					display: block;
				}

				&:nth-child(2) {
					width: 230px;
					min-width: 230px;
				}

				&:nth-child(3) {
					width: 230px;
					min-width: 230px;
				}
			}

			tr {
				padding: 0;
				display: table-row;

				&:nth-child(odd) {
					background: #fff;
				}

				&:nth-child(even) {
					background: #edf1f4;
				}
			}

			.form-select {
				font-size: 1rem;
				padding: 0.5rem 2.5rem 0.5rem 1rem;
			}

			.form-control {
				font-size: 1rem;
				padding: 0.5rem 1rem 0.5rem 1rem;
			}
		}

		&__schedule {

			thead {
				display: table-row-group;
			}

			tr {
				padding: 0;
				display: table-row;

				&:before {
					display: none;
				}
			}

			th {
				color: #fff;
				font-weight: 400;
				font-size: 1.125rem;
				line-height: 1.25rem;
				padding: 0.125rem 0.25rem;
				background: $color-purple;
				vertical-align: middle;

				span {
					display: block;
				}

				&:first-child {
					color: #fff;
					font-weight: 700;
					font-size: 1.25rem;
					line-height: 1.25rem;
					white-space: nowrap;
					padding: 0.125rem 0.5rem;
					font-family: $font-head;
				}
			}

			td {
				width: auto;
				float: none;
				display: table-cell;
				vertical-align: middle;
				padding: 0.25rem 0.625rem;

				&:first-child {
					top: auto;
					left: auto;
					position: relative;
					white-space: nowrap;
					padding: 0.125rem 0.5rem;
				}
			}
		}
	}
}

.source {
	font-weight: 400;

	strong {
		color: #000;
		font-weight: 500;
	}
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}

.checking {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		min-height: 1.25rem;
		font-size: 1.125rem;
		line-height: 1.25rem;
		padding-right: 1.5rem;
		display: inline-block;

		&:after {
			right: 0;
			top: 2px;
			content: '';
			width: 15px;
			height: 15px;
			overflow: hidden;
			position: absolute;
			display: inline-block;
			border: 1px solid #c8c8c8;
			background: #f5f5f5 url("../img/icon__checkbox_base.png") -300px 50% no-repeat;
		}

		&:before {
			content: attr(data-label);
		}
	}

	input:checked + span:after {
		background-position: 50% 50%;
	}

	@media (min-width: $screen-xl-min) {

		span {
			padding: 0;
			width: 15px;

			&:after {
				top: 4px;
			}

			&:before {
				display: none;
			}
		}
	}
}