.page_black {
	color: #fff;
	background: #000 url("../img/nav_bg.png");

	h3,
	.h3 {
		color: #fff;
	}

	.top {
		color: #fff;
		background: transparent;
	}

	.breadcrumb {

		li {
			color: #fff;
		}
	}

	.profile__phone {
		color: #fff;
	}

	.rating__label {
		color: #fff;
	}

	.schedule {
		background: rgba(255,255,255,0.2);
	}

	.schedule__heading {
		color: #fff;
		background: transparent;
	}

	.schedule__content {
		color: #000;
	}

	.price__content {
		color: #fff;
		background: transparent;

		&:nth-child(odd) {
			background: rgba(255,255,255,0.2);
		}

		li {

			strong {
				color: #fff;
			}
		}
	}

	.profile__about {
		color: #fff;
	}

	.review__text {
		color: #fff;
	}

	.face__name {
		color: #fff;

		&:hover {
			color: $color-purple;
		}
	}

	.divider {
		opacity: 0.3;
	}

	.profile__place {

		.tel {
			color: #fff;
		}
	}

	.sticker {
		left: 0;
		width: 94px;
		height: 38px;
		color: #2c343d;
		font-weight: 700;
		padding-top: 9px;
		padding-left: 3px;
		background: url("../img/sticker.png") 0 0 no-repeat;

		&:before {
			display: none;
		}
	}
}