
.main {
	padding-bottom: 60px;
	@include flex-grow(1);

	&__entry {
		max-width: 100%;
		overflow: hidden;
		position: relative;

		.container {
			z-index: 10;
			position: relative;
		}
	}

	&_overflow {
		max-width: 100%;
		overflow: hidden;
	}

	&_gray {
		padding: 25px 0;
		margin-top: -30px;
		background: #edf1f4;
	}

	@media (min-width: $screen-xl-min) {

		&__entry {

			&:after,
			&:before {
				z-index: 1;
				content: '';
				display: block;
				position: absolute;
			}

			&:after {
				left: 50%;
				width: 842px;
				height: 292px;
				bottom: -20px;
				margin-left: -957px;
				background: url("../img/anketa__girl_one.jpg") 0 0 no-repeat;
			}

			&:before {
				right: 50%;
				width: 600px;
				height: 915px;
				bottom: 18px;
				margin-right: -957px;
				background: url("../img/anketa__girl_two.jpg") 0 0 no-repeat;
			}
		}
	}

	@media (min-width: 1920px) {

		&:after {
			left: 0;
			margin-left: 0;
		}

		&:before {
			right: 0;
			margin-right: 0;
		}
	}
}

.promo {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	background: #fccfd8 url("../img/promo__bg.jpg") 50% 50% no-repeat;

	&__inner {
		margin: 0 -15px;
		position: relative;
		padding-top: 32px;
		padding-bottom: 32px;
	}

	&__box {
		color: #fff;
		margin: 0 auto;
		max-width: 318px;
		text-align: center;
		position: relative;
		border: 2px solid #fff;
		padding: 15px 10px 34px 10px;
	}

	&__date {
		font-size: 30px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 10px;
	}

	&__discount {
		margin: 0 auto;
		max-width: 300px;
		font-size: 50px;
		font-weight: 700;
		line-height: 53px;
		font-family: $font-head;
	}

	&__value {
		color: #fff;
		font-size: 0;
		line-height: 0;
		font-weight: 700;
		position: relative;
		margin-bottom: 27px;
		display: inline-block;
		font-family: $font-head;

		strong {
			font-size: 130px;
			line-height: 120px;
			display: inline-block;
		}

		span {
			right: -10px;
			bottom: 6px;
			font-size: 50px;
			line-height: 50px;
			display: inline-block;
			position: absolute;
			text-shadow:
					-0   -3px 0   #FECCD5,
					0   -3px 0   #FECCD5,
					-0    3px 0   #FECCD5,
					0    3px 0   #FECCD5,
					-3px -0   0   #FECCD5,
					3px -0   0   #FECCD5,
					-3px  0   0   #FECCD5,
					3px  0   0   #FECCD5,
					-1px -3px 0   #FECCD5,
					1px -3px 0   #FECCD5,
					-1px  3px 0   #FECCD5,
					1px  3px 0   #FECCD5,
					-3px -1px 0   #FECCD5,
					3px -1px 0   #FECCD5,
					-3px  1px 0   #FECCD5,
					3px  1px 0   #FECCD5,
					-2px -3px 0   #FECCD5,
					2px -3px 0   #FECCD5,
					-2px  3px 0   #FECCD5,
					2px  3px 0   #FECCD5,
					-3px -2px 0   #FECCD5,
					3px -2px 0   #FECCD5,
					-3px  2px 0   #FECCD5,
					3px  2px 0   #FECCD5,
					-3px -3px 0   #FECCD5,
					3px -3px 0   #FECCD5,
					-3px  3px 0   #FECCD5,
					3px  3px 0   #FECCD5,
					-3px -3px 0   #FECCD5,
					3px -3px 0   #FECCD5,
					-3px  3px 0   #FECCD5,
					3px  3px 0   #FECCD5;
		}
	}

	&__image {
		display: none;
		position: absolute;
	}


	@media (min-width: $screen-md-min) {

		&__inner {
			width: 634px;
			margin: 0 auto;
		}

		&__box {
			width: 100%;
			max-width: inherit;
		}

		&__image {
			display: block;

			&.image-left {
				width: 340px;
				left: -160px;
				bottom: -5px;
			}

			&.image-right {
				width: 340px;
				right: -165px;
				bottom: -30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__inner {
			width: 720px;
		}

		&__discount {

		}
	}

	@media (min-width: $screen-xl-min) {

		&__date {
			margin-bottom: 20px;
		}

		&__inner {
			width: 795px;
			padding-top: 55px;
			padding-bottom: 54px;
		}

		&__discount {
				max-width: inherit;
		}

		&__value {
			margin-bottom: 25px;
		}

		&__image {

			&.image-left {
				left: -180px;
			}

			&.image-right {
				right: -160px;
			}
		}
	}
}

.goods {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
	@include border-radius(8px);
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));

	&__info {
		overflow: hidden;
		position: relative;
		@include border-radius(8px 8px 0 0);

		&:hover {

			.goods__hover {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__image {
		display: block;
	}

	&__price {
		right: 0;
		bottom: 0;
		color: #fff;
		z-index: 10;
		display: block;
		font-weight: 500;
		position: absolute;
		font-size: 1.25rem;
		line-height: 1.5rem;
		padding: 0.5625rem 0.625rem;
		background: rgba(221,21,87, 0.6);
	}

	&__user {
		font-weight: 400;
		background: #fff;
		padding: 10px 13px;
		font-size: 1.125rem;
		line-height: 1.5rem;

		&_name {
			color: #4c4c4c;
		}

		&_status {
			font-style: italic;

			&.open {
				color: #129f4a;
			}

			&.close {
				color: #dd0c57;
			}
		}
	}

	&__hover {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		position: absolute;
		background: rgba(189,20,86, 0.5);
		visibility: hidden;
		@include flexbox();
		@include border-radius(8px);

		.btn {
			height: 40px;
			margin: auto;
		}
	}

	.tags {
		top: 0;
		right: 0;
	}

	&_black {

		.goods__user {
			background: #000;

			&_name {
				color: #fff;
			}
		}
	}

	&_dark {
		padding: 3px;
		background: #2c2c2c url('../img/nav_bg.png');

		.goods__user {
			background: transparent;

			&_name {
				color: #fff;
			}
		}
		.sticker {
			top: 45px;
			left: 5px;
			width: 94px;
			height: 38px;
			color: #2c343d;
			font-weight: 700;
			padding-top: 9px;
			padding-left: 3px;
			background: url('../img/sticker.png') 0 0 no-repeat;

			&:before {
				display: none;
			}
		}
	}


	&__wrap {
		padding: 5px;
		position: relative;
		border: 1px solid #f8f1be;
		@include border-radius(6px);
	}
}

.search {
	color: #fff;
	margin: 0 auto;
	max-width: 300px;
	position: relative;
	background: #2b2b2b url("../img/nav_bg.png") 0 0;

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		content: '';
		width: 500px;
		display: block;
		position: absolute;
		background: #2b2b2b url("../img/nav_bg.png") 0 0;
	}

	&:after {
		left: -500px;
	}

	&:before {
		right: -500px;
	}

	&__heading {
		padding: 13px 10px;
		font-size: 2.5rem;
		line-height: 2.5rem;
		font-family: $font-head;
		border-bottom: 1px solid #505050;
	}

	&__content {
		padding: 20px 15px;
		border-top: 1px solid #000;
	}

	&__elem {
		margin-bottom: 1rem;
	}

	&__button {
		padding-top: 0.75rem;

		.btn {
			width: 100%;
		}
	}

	.form-label {
		color: #fff;
	}

	.form-checkbox {
		font-weight: 400;
	}

	@media (min-width: $screen-md-min) {

		&:after,
		&:before {
			display: none;
		}
	}

}

.block {
	width: 100%;
	overflow: hidden;
	max-width: 100%;
	position: relative;
	padding-bottom: 20px;

	.container {
		z-index: 10;
		position: relative;
	}

	&__row {
		@include clearfix();
	}

	&__content {
		padding-top: 20px;
		@include order(2);
	}

	&__form {
		@include order(1);
	}

	@media (min-width: $screen-md-min) {
		padding-top: 30px;

		&__row {
			@include flex-direction(row);
		}

		&__content {
			float: left;
			width: 474px;
			padding-top: 0;
			padding-right: 20px;
		}

		&__form {
			float: right;
			width: 216px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			width: 735px;
		}

		&__form {
			width: 225px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			width: 900px;
		}

		&__form {
			width: 280px;
		}

		&.girl-bg {

			&:before {
				top: 0;
				z-index: 1;
				right: 50%;
				content: '';
				width: 600px;
				height: 820px;
				position: absolute;
				margin-right: -954px;
				background: url("../img/homepage__girl.jpg") 0 0 no-repeat;
			}
		}
	}


	@media (min-width: 1920px) {

		&.girl-bg {

			&:before {
				right: 0;
				margin-right: 0;
			}
		}
	}
}

.gray-block {
	z-index: 10;
	position: relative;
	padding-top: 25px;
	padding-bottom: 30px;
	background: #edf1f4;
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));

	@media (min-width: $screen-md-min) {
		padding-bottom: 40px;
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 30px;
	}
}

.showcase {

	&__heading {
		margin-bottom: 10px;
		text-align: center;
		@include clearfix();

		h2 {
			margin: 0;
		}

		&_link {
			display: none;
			font-weight: 300;
		}
	}

	&__block {
		padding-bottom: 20px;
	}

	&__divider {
		height: 5px;
		margin-bottom: 20px;
		position: relative;

		&:after,
		&:before {
			content: '';
			left: -800px;
			width: 2000px;
			display: block;
			position: absolute;
			background: #e6e6e6;
		}

		&:after {
			top: 0;
			height: 2px;
		}

		&:before {
			bottom: 0;
			height: 1px;
		}
	}

	&__text {
		font-weight: 200;
		margin-bottom: 15px;
		text-align: center;
	}

	&__view {
		text-align: center;

		a {
			color: #91cbff;
			font-weight: 300;
			text-decoration: none;

			&:hover {
				color: #91cbff;
				text-decoration: underline;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		&__heading {
			text-align: left;

			h2 {
				float: left;
			}

			&_link {
				float: right;
				color: #91cbff;
				display: inline-block;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__text {
			text-align: left;
		}

		&__view {
			display: none;
		}

		&__divider {
			overflow: hidden;
		}
	}

}

.private {
	max-width: 305px;
	margin: 0 auto 15px auto;

	@media (min-width: $screen-md-min) {
		margin: 0;
		width: 100%;
		max-width: 100%;
		@include flexbox();
		@include justify-content(space-between);

		&__item {
			width: 217px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: 225px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__item {
			width: 280px;
		}
	}
}

.company {
	max-width: 305px;
	margin: 0 auto 15px auto;

	@media (min-width: $screen-md-min) {
		margin: 0;
		width: 100%;
		max-width: 100%;
		@include flexbox();
		@include justify-content(space-between);

		@include flexbox();

		&__item {
			width: 217px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: 225px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__item {
			width: 280px;
		}
	}
}

.vacancies {
	max-width: 100%;
	overflow: hidden;
	background: #fff;
	padding-top: 25px;
	position: relative;
	padding-bottom: 40px;

	&:after,
	&:before {
		bottom: 0;
		z-index: 1;
		width: 1px;
		height: 1px;
		opacity: 0;
		content: '';
		position: absolute;
		visibility: hidden;
	}

	&:before {
		left: 50%;
		margin-left: -954px;
		background: url("../img/vacancy__bg_img_1.jpg") 0 0 no-repeat;
	}

	&:after {
		right: 50%;
		margin-right: -954px;
		background: url("../img/vacancy__bg_img_2.jpg") 0 0 no-repeat;
	}

	.container {
		z-index: 50;
		position: relative;
	}

	h2 {
		text-align: center;
		margin-bottom: 15px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 20px;
		height: 38px;
		outline: none;
		background-image: url("../img/slide_arrow.png");
		background-size: auto;
		margin-top: -40px;
	}

	.swiper-button-prev {
		@include rotate(180deg);
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 34px;

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 88px;

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}

		&:after {
			width: 433px;
			height: 360px;
		}

		&:before {
			width: 493px;
			height: 360px;
		}

		h2 {
			margin-bottom: 25px;
		}
	}

	@media (min-width: 1920px) {

		&:after {
			right: 0;
			margin-right: 0;
		}

		&:before {
			left: 0;
			margin-left: 0;
		}
	}
}

.vacancy {
	color: #4c4c4c;
	margin: 0 auto;
	max-width: 150px;
	display: block;
	text-decoration: none;

	&__icon {
		width: 130px;
		height: 130px;
		display: block;
		overflow: hidden;
		position: relative;
		background: #fe99b6;
		margin: 0 auto 0.875rem auto;
		@include border-radius(50%);

		&:before {
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			content: '';
			position: absolute;
			border: 2px solid #fff;
			@include border-radius(50%);
		}
	}

	&__title {
		color: #4c4c4c;
		font-weight: 700;
		text-align: center;
		font-size: 1.375rem;
		line-height: 1.375rem;
	}

	@media (min-width: $screen-lg-min) {

		&__icon {
			width: 150px;
			height: 150px;
		}
	}
}

.reg {
	margin: 0 auto;
	max-width: 320px;

	&__section {

	}

	&__radio {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			margin-bottom: 0.75rem;
		}
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;

		.form-section-title {
			text-align: center;
		}

		&__radio {
			width: 640px;
			margin: 0 auto 20px auto;
			@include flexbox();
			@include justify-content(space-around);

			> li {
				margin: 0;
				width: 170px;
				padding-top: 1.5rem;
				text-align: center;
			}

			.form-radio {

				span {
					padding: 0;

					&:before {
						left: 50%;
						top: -1.5rem;
						margin-left: -8px;
					}
				}
			}
		}

		&__wrap {
			width: 400px;
			margin: 0 auto;
		}

		&__ok {
			text-align: center;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			width: 430px;
		}
	}
}

.shadow_box {
	background: #fff;
	padding: 1.25rem 0;
}

.form_region {
	max-width: 375px;
	margin-bottom: 1.5rem;
}

.shadow_inset {
	position: relative;
	border-bottom: 1px solid #e6e6e6;

	&:before {
		left: 0;
		right: 0;
		z-index: 200;
		height: 2px;
		content: '';
		bottom: 3px;
		display: block;
		position: absolute;
		background: #e6e6e6;
	}


	@media (min-width: $screen-md-min) {
		border-bottom: none;

		.vacancies {
			@include box-shadow(inset 0px 3px 10px 0px rgba(0, 0, 0, 0.3));
		}

		&:before {
			display: none;
		}
	}
}

.tmp {
	padding-top: 100px;
	padding-bottom: 50px;
}

.modal {
	padding: 0;
	width: 290px;
	background: #fff;
	position: relative;

	.invalid {
		height: 180px;
		padding: 50px 10px 30px 120px;
		background: url("../img/invalid__image_mobile.jpg") 0 100% no-repeat;

		&__imageLeft {
			top: 0;
			left: 0;
			bottom: 0;
			display: none;
			overflow: hidden;
			position: absolute;
		}

		&__text {
			color: #000;
			max-width: 160px;
			font-size: 30px;
			line-height: 1.1;
			text-align: center;
			font-family: $font-head;
		}
	}

	.newPass {
		height: 150px;
		position: relative;
		padding: 15px 20px 10px 10px;
		background: #f3f2ee  url("../img/newPass__image.jpg") 200% 50% no-repeat;
		background-size: 80%;

		&__text {
			width: 120px;
			line-height: 1.2;
			text-align: center;
			font-size: 1.5625rem;
			font-family: $font-head;
		}
	}

	.modalForm {
		padding: 25px 15px 30px 15px;

		&__heading {
			text-align: center;
			font-size: 1.875rem;
			margin-bottom: 10px;
			font-family: $font-head;
		}

		&__text {
			padding-top: 1rem;
			font-size: 0.875rem;
			line-height: 1.25rem;
			text-align: center;

			a {
				color: #008bce;
			}
		}
	}

	.thanks {
		height: 230px;
		padding: 25px 20px 20px 0;
		background: #f0f0f0 url("../img/thanks_bg.jpg") 190% 100% no-repeat;
		background-size: 75%;

		&__content {
			width: 200px;
			text-align: center;

			&_heading {
				color: #000;
				line-height: 1.1;
				font-size: 1.875rem;
				margin-bottom: 10px;
				font-family: $font-head;
			}

			&_text {
				color: #666;
				font-weight: 300;
				padding: 0 20px;
				font-size: 1.25rem;
			}
		}
	}

	.fancybox-close-small {
		right: 0;
		top: -50px;
		width: 22px;
		height: 22px;
		font-size: 0;
		line-height: 0;
		color: transparent;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			z-index: 10;
			width: 24px;
			height: 2px;
			background: #fff;
			position: absolute;
			margin: -1px 0 0 -12px;
		}

		&:after {
			right: auto;
			border-radius: 0;
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	.icon_warning {
		width: 96px;
		margin: 0 auto 20px auto;
	}

	.modal_warning {
		color: #000;
		text-align: center;
		font-size: 1.625rem;
		line-height: 1.75rem;
		font-family: $font-head;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		width: 580px;

		&.modal-form {
			width: 470px;

			.modalForm {
				padding: 30px 30px 30px 30px;
			}
		}

		.invalid {
			padding: 50px 120px 30px 120px;
			background: url("../img/invalid__image_desktop.jpg") 0 100% no-repeat;

			&__text {
				margin: 0 auto;
			}
		}

		.newPass {
			height: 180px;
			background-size: auto;
			padding: 50px 20px 10px 30px;
			background-position: 100% 50%;

			&__text {
				width: 240px;
				font-size: 	1.875rem;
			}
		}

		.modalForm {
			padding: 25px 75px 30px 75px;

			&__heading {
				font-size: 2.5rem;
				margin: 0 -20px 10px -20px;
			}
		}

		.fancybox-close-small {
			top: -35px;
			right: -35px;
		}


		.thanks {
			height: 320px;
			padding: 70px 30px 40px 35px;
			background-size: 58%;
			background-position: 107% 5%;

			&__content {
				width: 260px;

				&_heading {
					font-size: 2.5rem;
				}

				&_text {
					padding: 0;
					font-size: 1.5625rem;
				}
			}
		}
	}
}

.city_list {
	margin: 0 -10px 30px -10px;
	@include flexbox();
	@include flex-wrap(wrap);

	ul {
		margin: 0;
		width: 50%;
		padding: 0 10px;
		list-style: none;

		li {
			font-weight: 400;
			padding: 0.25rem 0;
			font-size: 1.125rem;
			line-height: 1.25rem;
			color: $color-purple;

			a {
				color: $color-purple;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		ul {
			width: 25%;
		}
	}
}

.country_map {
	margin: 0 auto;
	max-width: 620px;
}

.fancybox-slide > * {
	overflow: visible !important;
}

.wrap {
	background: #fff;
	padding-top: 20px;
	padding-bottom: 50px;
}

.row {
	margin: 0 auto;
	max-width: 300px;

	&__content {
		padding-bottom: 30px;
		margin-bottom: 2px;
		border-bottom: 2px solid #e6e6e6;
	}

	&__sidebar {
		padding-top: 30px;
		border-top: 1px solid #e6e6e6;
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;
	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();

		&__content {
			margin-bottom: 0;
			padding-bottom: 0;
			padding-right: 20px;
			border-bottom: none;
			@include flex-grow(1);
		}

		&__sidebar {
			width: 280px;
			padding-top: 1rem;
			border-top: none;
			min-width: 280px;
		}
	}
}

.sidebarAdv {
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	&__item {
		width: 280px;
		margin: 0 auto 20px auto;
	}
}

.table_info {
	margin-bottom: 20px;
	border-collapse: collapse;

	td {
		padding: 3px 0;
		font-weight: 400;
	}

	th {
		font-weight: 500;
		text-align: left;
		padding: 3px 15px 3px 0;
	}
}

.table {
	width: 100%;
	margin-bottom: 30px;
	border-collapse: collapse;

	tr {

		&:nth-child(odd) {
			background: #edf1f4;
		}
	}

	th {
		color: #fff;
		height: 40px;
		padding: 0 8px;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-align: left;
		background: $color-purple;
		font-family: $font-head;
	}

	td {
		padding: 15px 8px;
		font-size: 16px;

		&:last-child {
			padding-right: 20px;
		}

		a {
			color: #91cbff;
			text-decoration: none;

			&:hover {
				color: $color-purple;
			}
		}
	}

	&.table_pay {

		td {

			&:nth-child(2) {
				text-align: center;
			}
		}
	}

	@media (max-width: 1023px) {

		thead {
			display: none;
		}

		tr {
			display: block;
			padding: 10px 15px;
		}

		td {
			padding: 4px 0;
			display: block;

			&:before {
				display: block;
				margin-bottom: 3px;
				content: attr(data-label);
				font-weight: 500;
			}
		}

		&.table_pay {

			td {
				width: 100%;
				padding: 2px 0;
				display: table;


				&:nth-child(2) {
					text-align: left;
				}

				&:last-child {
					padding-right: 0;
				}

				&:before {
					width: 130px;
					min-height: 1px;
					margin-bottom: 0;
					display: table-cell;
				}

				span {
					padding-left: 5px;
					display: table-cell;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		th {
			font-size: 18px;
		}

		td {
			font-size: 18px;
		}
	}

}

.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	list-style: none;
	margin: 0 -10px 5px -10px;

	> li {
		margin: 0 10px;
		display: inline-block;

		a {
			color: #666;
			width: 24px;
			height: 24px;
			padding: 4px 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 16px;
			text-align: center;
			background: #edf1f4;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #fff;
				background: #91cbff;
			}
		}

		&.active {

			a {
				color: #fff;
				background: #91cbff;
			}
		}
	}
}

.view_all {
	color: #91cbff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.tabs {

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.content {
	padding-top: 1rem;

	&__heading {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.5rem;
		margin-bottom: 1.5rem;
		font-family: $font-head;
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			line-height: 2rem;
			font-size: 	1.875rem;
		}
	}
}

.ticket {
	padding: 10px;
	background: #fff;
	margin-bottom: 30px;
	@include border-radius(8px);
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.2));

	&_one {
		background: #fe97bf;
		@include box-shadow(none);

		.ticket__wrap {
			border: 1px solid #fdf6c2;
		}
	}

	&_two {
		background: #ffb0ce;
		@include box-shadow(none);

		.ticket__wrap {
			border: 1px solid #fdf6c2;
		}
	}

	&_three {
		background: #ffc9de;
		@include box-shadow(none);

		.ticket__wrap {
			border: 1px solid #fdf6c2;
		}
	}

	&_four {
		background: #fce1eb;
		@include box-shadow(none);

		.ticket__wrap {
			border: 1px solid #fdf6c2;
		}
	}

	&__wrap {
		padding: 10px;
	}

	&__image {

		&_box {
			overflow: hidden;
			@include border-radius(8px);
		}
	}

	&__content {
		color: #000;
	}

	&__heading {
		padding: 1rem 0 0.625rem 0;
		font-weight: 400;
		font-size: 1rem;
		position: relative;
		line-height: 1.25rem;

		&_text {

		}

		&_icon {
			top: 8px;
			right: 0;
			width: 36px;
			display: block;
			position: absolute;
		}
	}

	&__text {
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.25rem;
		margin-bottom: 0.625rem;
	}

	&__city {
		position: relative;
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
		padding-left: 1.75rem;

		i {
			left: 0;
			top: 1px;
			width: 18px;
			height: 20px;
			display: block;
			position: absolute;
		}

		.ico-svg {
			fill: $color-purple;
		}
	}

	&__tag {
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-bottom: 0.375rem;

		a {
			color: $color-purple;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__meta {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		li {

			&:first-child {
				color: #000;
				font-weight: 300;
				font-style: italic;
				font-size: 1.125rem;
				line-height: 1.25rem;
			}

			&:last-child {
				color: #000;
				font-weight: 400;
				text-align: right;
				font-size: 0.875rem;
				line-height: 1.25rem;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			@include flexbox();
		}

		&__image {
			width: 263px;
			min-width: 263px;
		}

		&__content {
			padding-left: 20px;
			@include flex-grow(1);
		}

		&__heading {
			font-size: 1.125rem;
			padding-top: 0;

			&_icon {
				top: 0;
			}
		}

		&__text {
			font-size: 1.125rem;
			padding-right: 50px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__text {
			margin-bottom: 0.875rem;
		}

		&__city {
			margin-bottom: 0.875rem;
		}
	}
}

.vipCard {
	color: #fff;
	display: block;
	background: #fe97bf;
	font-size: 1.125rem;
	line-height: 1.25rem;
	text-decoration: none;
	padding: 0.75rem 0.625rem 0.5rem 0.625rem;
	@include border-radius(8px);

	&__heading {
		font-weight: 500;
		text-align: center;
		font-size: 1.25rem;
		line-height: 1.25rem;
		margin-bottom: 0.625rem;

		span {
			display: inline-block;
			padding: 0.5rem 2.875rem 0.5rem 0;
			background: url("../img/icon__vip_plus.png") 100% 50% no-repeat;
		}
	}

	&__image {
		overflow: hidden;
		margin-bottom: 0.375rem;
		@include border-radius(8px);
	}

	&__text {
		font-weight: 500;
		margin-bottom: 0.25rem;
	}

	&__price {
		font-weight: 500;
		color: $color-purple;
		margin-bottom: 0.25rem;
	}

	&__city {
		color: #fff;
		position: relative;
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
		padding-left: 1.75rem;

		i {
			left: 0;
			top: 1px;
			width: 18px;
			height: 20px;
			display: block;
			position: absolute;
		}

		.ico-svg {
			fill: $color-purple;
		}
	}
}

.filter {
	margin-bottom: 15px;

	&__row {
		margin: 0 -10px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__col {
		width: 100%;
		padding: 0 10px;
	}

	.filter__full {

		&.close {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {

		&__col {
			width: 50%;
		}
	}
	@media (min-width: $screen-lg-min) {

		&__col {
			width: 25%;
		}
	}
}

.catalogue {
	margin: 0 -10px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__item {
		width: 100%;
		padding: 0 10px;
		margin-bottom: 20px;
	}

	&__divider {
		padding: 2px;
		margin-top: 10px;
		margin-bottom: 30px;
		border-top: 2px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: 50%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: 33.33%;
		}
	}

}

.catalogue__slider {
	max-width: 290px;
	margin: 0 auto 20px auto;

	.swiper-slide {
		padding-bottom: 70px;

	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 20px;
		height: 38px;
		outline: none;
		top: 100%;
		background-image: url("../img/slide_arrow.png");
		background-size: auto;
		margin-top: -58px;
	}

	.swiper-button-next {
		right: 50%;
		margin-right: -55px;
	}

	.swiper-button-prev {
		left: 50%;
		margin-left: -55px;
		@include rotate(180deg);
	}
}


.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
	stroke: #91cbff;
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
	stroke: #dd0c57;
}


// 404 page

.notFound {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

	&__header {
		padding: 20px 0;
		text-align: center;

		a {
			width: 260px;
			display: inline-block;
		}
	}

	&__content {
		position: relative;
		padding-bottom: 2rem;
		@include flex-grow(1);
		@include clearfix();
	}


	&__box {
		max-width: 620px;
		background: #fff;
		position: relative;
		padding: 25px 30px 20px 30px;
		@include border-radius(8px);
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.25));

		&_title {
			font-weight: 600;
			color: $color-purple;
			font-size: 1.375rem;
			line-height: 1.5rem;
			margin-bottom: 1rem;
			font-family: $font-head;
			text-transform: uppercase;
		}

		p {
			font-style: italic;
			font-size: 1.25rem;
			line-height: 1.5rem;
			margin-bottom: 0.5rem;
			font-family: $font-head;
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {

			a {
				width: 340px;
			}
		}

		&__content {
		}

		&__box {
			float: right;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__box {
			top: 100%;
			right: 15px;
			margin-top: 50px;
			position: absolute;
			float: none;
		}
	}
}

.leave_pass {
	color: #008bce;

	&:hover {
		text-decoration: none;
	}
}


@media (min-width: $screen-md-min) {



}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}
