@font-face {
	font-family:'BAZChronicleTG1';
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1.eot');
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1.woff2') format('woff2'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1.woff') format('woff'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1.svg#1') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'BAZChronicleTG1';
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Bold.eot');
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Bold.woff2') format('woff2'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Bold.woff') format('woff'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Bold.svg#1 Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'BAZChronicleTG1';
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_BoldItalic.eot');
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_BoldItalic.woff2') format('woff2'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_BoldItalic.woff') format('woff'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_BoldItalic.svg#1 BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'BAZChronicleTG1';
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Italic.eot');
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Italic.woff2') format('woff2'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Italic.woff') format('woff'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_Italic.svg#1 Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'BAZChronicleTG1';
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBold.eot');
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBold.woff2') format('woff2'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBold.woff') format('woff'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBold.svg#1 SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'BAZChronicleTG1';
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBoldItalic.eot');
	src: url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBoldItalic.woff2') format('woff2'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBoldItalic.woff') format('woff'),
	url('../fonts/BAZChronicleTG1/BAZChronicleTG1_SemiBoldItalic.svg#1 SemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}



@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Thin_gdi.eot');
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Thin_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Thin_gdi.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Thin_gdi.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Thin_gdi.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Thin_gdi.svg#PFDinTextPro-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.eot');
	src: url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.woff2') format('woff2'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-LightItalic.svg#o LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-04D9;
}

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.eot');
	src: url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.woff2') format('woff2'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-ExtraThinItalic.svg#o ExtraThinItalic') format('svg');
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-04D9;
}

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Regular_gdi.eot');
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Regular_gdi.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Regular_gdi.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Regular_gdi.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Regular_gdi.svg#PFDinTextPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Medium_gdi.eot');
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Medium_gdi.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Medium_gdi.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Medium_gdi.svg#PFDinTextPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Bold_gdi.eot');
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Bold_gdi.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Bold_gdi.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Bold_gdi.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Bold_gdi.svg#PFDinTextPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.eot');
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.svg#PFDinTextPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'PFDinTextPro';
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.eot');
	src: url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextPro/PFDinDisplayPro-Italic.woff2') format('woff2'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.woff') format('woff'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.ttf') format('truetype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.otf') format('opentype'),
	url('../fonts/PFDinTextPro/PFDinTextPro-Light_gdi.svg#PFDinDisplayPro-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-04D9;
}



@font-face {
	font-family:'PFDinTextCompPro';
	src: url('../fonts/PFDinTextCompPro/PFDinTextCompPro_Regular.eot');
	src: url('../fonts/PFDinTextCompPro/PFDinTextCompPro_Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro/PFDinTextCompPro_Regular.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro/PFDinTextCompPro_Regular.woff') format('woff'),
	url('../fonts/PFDinTextCompPro/PFDinTextCompPro_Regular.svg#PF Din Text Comp Pro Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04D9;
}

@font-face {
	font-family:'PFDinTextCompPro';
	src: url('../fonts/PFDinTextCompPro/PFDinTextCompPro_MediumRegular.eot');
	src: url('../fonts/PFDinTextCompPro/PFDinTextCompPro_MediumRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro/PFDinTextCompPro_MediumRegular.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro/PFDinTextCompPro_MediumRegular.woff') format('woff'),
	url('../fonts/PFDinTextCompPro/PFDinTextCompPro_MediumRegular.svg#PF Din Text Comp Pro Medium Regular') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04D9;
}