.footer {
	color: #fff;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;
	padding: 25px 0 30px 0;
	background: #2b2b2b url("../img/nav_bg.png") 0 0;

	&__copy {
		text-align: center;
		margin-bottom: 12px;

		span {

		}
	}

	&__logo {
		width: 299px;
		display: none;
		margin-bottom: 3px;

		&_mobile {
			width: 218px;
			display: block;
			margin: 0 auto 10px auto;
		}
	}

	&__info {
		text-align: center;
		margin-bottom: 12px;

		&_dev {

			a {
				color: #fff;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&_nav {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;

			> li {
				padding: 0 15px;
				display: inline-block;

				> a {
					color: #fff;
					font-size: 1rem;
					font-weight: 300;
					line-height: 1.5rem;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	&__contact {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		> li {

		}

		.btn-email {

		}
	}

	&__social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		margin: 0 -5px 18px -5px;

		> li {
			padding: 0 5px;
			display: inline-block;

			> a {
				width: 32px;
				height: 32px;
				color: #fff;
				padding: 7px 0;
				font-size: 16px;
				line-height: 16px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				border: 1px solid #fff;
				@include border-radius(50%);

				&:hover {
					color: #4c4c4c;
					background: #fff;
				}
			}
		}
	}

	&__counter {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -5px;
		list-style: none;
		text-align: center;

		> li {
			padding: 0 5px;
			display: inline-block;

			a {
				width: 88px;
				display: inline-block;
			}
		}
	}

	&__bottom {
		margin: 0;
		font-size: 0;
		line-height: 0;
		display: none;
		padding: 14px 0;
		list-style: none;

		li {
			height: 28px;
			color: #fff;
			font-size: 1rem;
			text-align: left;
			line-height: 1.75rem;
			padding-left: 32px;
			position: relative;
			display: inline-block;

			.ico-svg {
				fill: #c0c0c0;
			}

			&:first-child {
				margin-right: 60px;

				i {
					left: 0;
					top: 2px;
					width: 23px;
					height: 23px;
					position: absolute;
					display: inline-block;
				}
			}

			&:last-child {

				i {
					left: 0;
					top: 2px;
					width: 26px;
					height: 28px;
					position: absolute;
					display: inline-block;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 0;

		&__top {
			padding-bottom: 15px;
			border-bottom: 1px solid #6c6c6c;
			@include flexbox();
		}

		&__copy {
			width: 235px;
			text-align: left;
			margin-bottom: 0;
			padding-top: 9px;
		}

		&__logo {

			&_mobile {
				margin: 0 0 10px 0;
			}
		}

		&__info {
			width: 260px;
			margin-bottom: 0;
			text-align: left;
			padding-top: 25px;

			&_dev {
				margin-bottom: 12px;
			}

			&_nav {
				text-align: left;

				li {
					padding: 0 34px 0 0;
				}
			}
		}

		&__link {
			text-align: right;
			@include flex-grow(1);
		}

		&__social {
			text-align: right;
		}

		&__counter {
			text-align: right;
		}

		&__bottom {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 10px;

		&__top {

		}

		&__copy {
			width: 375px;
			padding-top: 5px;
		}

		&__logo {
			width: 300px;
			display: block;

			&_mobile {
				display: none;
			}
		}

		&__info {
			padding-top: 10px;

			&_dev {
				margin-bottom: 10px;
			}
		}

		&__link {

		}

		&__social {
			margin: 0 -10px 18px -10px;

			> li {
				padding: 0 10px;
			}
		}

		&__counter {
			margin: 0 -10px;

			> li {
				padding: 0 10px;
			}
		}


		&__bottom {
			text-align: center;

			> li {

				&:first-child {

				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__info {
			width: 370px;
		}

		&__contact {
			width: 230px;
			display: block;
			padding-top: 7px;

			> li {

				&:first-child {
					margin-bottom: 12px;
				}
			}

			.btn-email {
				color: #91cbff;
				font-size: 1.125rem;
				text-decoration: none;

				&:hover {
					color: #fff;
				}
			}

			.btn {
				width: 205px;
			}
		}
	}

}