// top

.header {
	position: relative;
	z-index: 1000;
}

.top {
	color: #999;
	padding: 6px 0;
	background: #fff;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.75rem;

	&__limit {
		float: left;
		height: 28px;
		width: 140px;
		padding-left: 32px;
		position: relative;

		i {
			left: 0;
			top: 2px;
			width: 23px;
			height: 23px;
			position: absolute;
			display: inline-block;

			.ico-svg {
				fill: #91cbff;
			}
		}
	}

	&__alert {
		height: 28px;
		float: right;
		width: 145px;
		padding-left: 32px;
		position: relative;

		i {
			left: 0;
			top: 2px;
			width: 26px;
			height: 28px;
			position: absolute;
			display: inline-block;

			.ico-svg {
				fill: #91cbff;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__limit {
			width: 360px;
		}

		&__alert {
			float: left;
			width: auto;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__limit {
			margin-left: 150px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__limit {
			margin-left: 170px;
		}
	}
}

.header__logo {
	display: none;
	padding-top: 9px;
	padding-bottom: 4px;

	a {
		width: 341px;
		margin: 0 auto;
		display: block;
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

// Nav

.nav {
	width: 100%;
	position: relative;
	background: #2c2c2c url("../img/nav_bg.png");

	&__header {
		width: 100%;
		max-width: 100%;
		padding-top: 14px;
		padding-bottom: 13px;
		@include clearfix();
	}

	&__logo {
		float: left;
		width: 173px;
		display: block;
	}

	&__toggle {
		float: right;
		width: 20px;
		color: #fff;
		font-size: 0;
		line-height: 0;
		padding: 1px 0;
		margin-top: 8px;
		display: inline-block;

		span {
			width: 100%;
			height: 3px;
			background: #fff;
			margin-bottom: 3px;
			display: inline-block;
			position: relative;
			@include transition(0.3s);
		}

		&.open {

			span {
				@include transition(0.3s);

				&:nth-child(1) {
					top: 5px;
					@include rotate(45deg);
				}

				&:nth-child(2) {
					top: -1px;
					@include rotate(-45deg);
				}

				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	&__content {
		left: 0;
		right: 0;
		top: 100%;
		margin: 0;
		padding: 0;
		display: none;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		list-style: none;
		position: absolute;
		background: #2c2c2c url("../img/nav_bg.png");

		&.open {
			display: block;
			border-top: 1px solid #000;
		}
	}

	&__menu {
		margin: 0;
		padding: 15px 0;
		list-style: none;

		> li {

			> a {
				color: #fff;
				width: 100%;
				padding: 13px 0;
				font-weight: 500;
				font-family: $font-second;
				font-size: 1.375rem;
				line-height: 1.5rem;
				text-decoration: none;
				display: inline-block;
				white-space: nowrap;
				text-transform: uppercase;

				&:hover {
					color: $color-purple;
					text-decoration: none;
				}
			}

			&.active {

				> a {
					color: $color-purple;
				}
			}
		}
	}

	&__login {
		margin: 0;
		padding: 0 0 0 24px;
		list-style: none;
		position: relative;
		background: #1c1c1c;
		@include flexbox();

		&:after,
		&:before {
			top: 0;
			z-index: 10;
			content: '';
			height: 100%;
			width: 500px;
			position: absolute;
			background: #1c1c1c url("../img/nav_bg.png");
		}

		&:after {
			left: -500px;
		}

		&:before {
			right: -500px;
		}

		> li {
			float: left;
			padding: 21px 0;
			font-weight: 300;
			font-size: 1.125rem;
			line-height: 1.25rem;

			a {
				position: relative;
				padding-left: 30px;
				color: $color-purple;
				display: inline-block;
				text-decoration: none;

				span {
					border-bottom: 1px dotted $color-purple;
				}
			}

			i {
				left: 0;
				height: 20px;
				position: absolute;
				display: inline-block;
			}

			.ico-svg {
				fill: $color-purple;
			}

			&:first-child {
				margin-right: 40px;

				i {
					width: 17px;
				}
			}

			&:last-child {

				i {
					width: 20px;
				}
			}
		}
	}

	&__info {
		margin: 0;
		padding: 20px 0 45px 0;
		float: left;
		list-style: none;

		> li {
			height: 40px;
			color: #999999;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1.25rem;
			padding-left: 32px;
			position: relative;
			@include flexbox();

			span {
				margin: auto 0;
				display: inline-block;
			}

			&:first-child {
				margin-bottom: 20px;

				i {
					width: 23px;
					height: 23px;
					margin-top: -11px;
				}
			}

			&:last-child {

				i {
					width: 26px;
					height: 28px;
					margin-top: -13px;
				}
			}

			i {
				left: 0;
				top: 50%;
				position: absolute;
				display: inline-block;
			}

			.ico-svg {
				fill: #91cbff;
			}
		}
	}

	&__user {
		padding: 8px 0;
		display: block;
		position: relative;
		color: $color-purple;
		background: #1c1c1c;
		text-decoration: none;
		@include flexbox();

		&:after,
		&:before {
			top: 0;
			z-index: 10;
			content: '';
			height: 100%;
			width: 500px;
			position: absolute;
			background: #1c1c1c url("../img/nav_bg.png");
		}

		&:after {
			left: -500px;
		}

		&:before {
			right: -500px;
		}

		&_avatar {
			z-index: 20;
			width: 44px;
			height: 44px;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
		}

		&_name {
			z-index: 20;
			font-size: 18px;
			line-height: 20px;
			position: relative;
			padding: 12px 0 12px 10px;
			display: inline-block;
		}

		&_down {
			z-index: 20;
			padding: 13px 10px;
			font-size: 18px;
			line-height: 18px;
			position: relative;
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			display: none;
		}

		&__content {
			top: auto;
			left: auto;
			right: auto;
			height: 62px;
			display: block;
			position: relative;
		}

		&__menu {
			padding: 0;
			list-style: none;
			@include flexbox();
			margin: 0 88px 0 -12px;
			@include clearfix();
			//	@include justify-content(space-between);

			> li {
				float: left;

				> a {
					width: 100%;
					padding: 19px 12px;

					&:hover {
						background: rgba(0,0,0,0.4);
					}
				}

				&.active {

					> a {
						background: rgba(0,0,0,0.4);
					}
				}
			}
		}

		&__login {
			top: 0;
			margin: 0;
			padding: 0;
			right: 15px;
			width: 88px;
			height: 62px;
			overflow: hidden;
			position: absolute;

			&:after,
			&:before {
				display: none;
			}

			> li {
				margin: 0;
				padding: 0;
				width: 44px;
				float: left;

				&:first-child {
					margin: 0;
				}

				a {
					width: 44px;
					height: 62px;
					display: inline-block;


					i {
						top: 50%;
						left: 12px;
						margin-top: -10px;
					}

					span {
						display: none;
					}
				}
			}
		}

		&__info {
			display: none;
		}

		&__user {
			top: 0;
			margin: 0;

			padding: 9px 0 9px 10px;
			right: 15px;
			overflow: hidden;
			position: absolute;

			&:after,
			&:before {
				display: none;
			}

			&_name {
				display: none;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__menu {
			margin: 0 190px 0 0;

			> li {

				> a {
					padding: 19px 15px;
				}
			}
		}

		&__login {
			top: 0;
			margin: 0;
			padding: 0;
			right: 15px;
			width: auto;
			height: 62px;
			overflow: hidden;
			position: absolute;

			&:after,
			&:before {
				display: none;
			}

			> li {
				width: auto;

				&:first-child {
					margin: 0;
				}

				a {
					width: auto;
					padding: 20px 23px 10px 50px;

					i {
						left: 24px;
					}

					span {
						display: inline-block;
					}

					&:hover {

						span {
							border-bottom-color: transparent;
						}
					}
				}
			}
		}

		&__user {
			width: 280px;
			padding-left: 20px;
			padding-right: 20px;

			&_name {
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__menu {

			> li {
				margin-right: 20px;

				> a {
					padding: 19px 20px;
				}
			}
		}
	}
}