* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}

html {

}

html,
body {
	height: 100%;
}

body {
	color: $color-base;
	font-weight: $font-weight-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}

.page {
	width: 100%;
	min-height: 100%;
	@include flexbox();
	@include flex-direction(column);
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 1.875rem;
	line-height: 1.1;
	margin-bottom: 1rem;
	font-family: $font-head;

	@media (min-width: $screen-lg-min) {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
}

h2, .h2 {
	margin-bottom: 1.875rem;
	font-size: 	1.875rem;
	font-family: $font-head;

	@media (min-width: $screen-lg-min) {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
}

h3, .h3 {
	color: #000;
	line-height: 1.1;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	font-family: $font-head;

	@media (min-width: $screen-md-min) {
		font-size: 	1.5rem;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 	1.875rem;
	}
}

h4, .h4 {
	line-height: 1.1;
	font-weight: 500;
	font-size: 1.25rem;
	font-family: $font-base;
	margin-bottom: 0.625rem;
}

h5, .h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h6, .h6 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 1rem 0;
}

a {
	outline: none;
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}