.profile {
	margin: 0 auto;
	max-width: 300px;
	@include clearfix();
	@include flexbox();
	@include flex-direction(column);

	&__data {
		position: relative;
		margin-bottom: 15px;
		@include order(1);
	}

	&__gallery {
		width: 290px;
		@include order(2);
	}

	&__content {
		@include order(3);
	}

	&__heading {
		font-size: 1.875rem;
		margin-bottom: 0.25rem;
	}

	&__tags {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			font-weight: 400;
			margin-bottom: 0.625rem;
		}
	}

	&__address {
		font-weight: 400;
		margin-bottom: 0.625rem;
	}

	&__phone {
		color: #4c4c4c;
		font-size: 25px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 0.75rem;
		text-decoration: none;
	}

	&__reg {
		font-weight: 400;
		margin-bottom: 0.625rem;

		strong {
			font-weight: 400;
		}
	}

	&__modified {
		font-weight: 400;
		margin-bottom: 0.625rem;

		strong {
			font-weight: 400;
		}
	}

	&__valid {
		color: #07ae22;
		font-weight: 400;
		position: relative;
		margin-bottom: 22px;
		line-height: 1.25rem;
		padding: 1px 0 1px 35px;
		font-size: 1.125rem;

		i {
			top: 0;
			left: 0;
			width: 22px;
			height: 22px;
			position: absolute;
			display: inline-block;
		}

		.ico-svg {
			fill: #07ae22;
		}
	}

	&__feature {

		.swiper-button-prev,
		.swiper-button-next {
			width: 20px;
			height: 38px;
			outline: none;
			background-image: url("../img/slide_arrow.png");
			background-size: auto;
			margin-top: -40px;
		}

		.swiper-button-prev {
			@include rotate(180deg);
		}
	}

	&__about {
		color: #4c4c4c;
		font-size: 1rem;
	}

	&__service {

		&_list {
			padding: 0;
			list-style: none;
			margin: 0 0 25px 0;
			@include clearfix();

			> li {
				line-height: 1.25rem;
				font-size: 1.125rem;
				min-height: 26px;
				position: relative;
				margin-bottom: 15px;
				padding: 3px 0 3px 40px;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 25px;
					height: 26px;
					position: absolute;
					background: url("../img/icon-service.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}

		&_included {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

			> li {
				padding-left: 40px;
				position: relative;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					top: 5px;
					left: 0;
					content: '';
					width: 26px;
					height: 14px;
					position: absolute;
					background: url("../img/icon-double-check.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}
	}

	&__place {

		&__row {

		}

		&_heading {
			margin-bottom: 10px;
		}

		&_logo {
			width: 100px;
			margin-bottom: 15px;
		}

		&_name {
			color: $color-purple;
			font-size: 	1.5625rem;
			line-height: 1.75rem;
			font-family: $font-head;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&_content {
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.75rem;
		}

		&_price {
			font-weight: 500;
			font-size: 1.375rem;
		}

		&_info {
			color: #91cbff;
			text-decoration: none;

			&:hover {
				color: $color-purple;
			}
		}


		.tel {
			color: #000;
			text-decoration: none;

		}
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;
		display: block;

		&__data {
			float: left;
			width: 510px;
			margin-left: 30px;
			@include order(2);
		}

		&__gallery {
			float: left;
			width: 150px;
			@include order(1);
		}

		&__content {
			float: left;
			width: 510px;
			margin-left: 30px;
		}

		&__tags {

			> li {
				display: inline-block;

				&:after {
					content: '|';
					padding: 0 30px;
				}

				&:last-child {

					&:after {
						display: none;
					}
				}
			}
		}

		&__reg {

			strong {
				font-weight: 500;
			}
		}

		&__modified {

			strong {
				font-weight: 500;
			}
		}

		&__feature {

			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}

			.swiper-wrapper {
				@include flex-wrap(wrap);
			}

			.swiper-slide {
				width: 50%;;

				&:nth-child(1),
				&:nth-child(2){
					margin-bottom: 35px;
				}
			}
		}

		&__service {

			&_list {

				> li {
					float: left;
					width: 50%;
					padding: 0 10px 0 50px;

					&:before {
						left: 10px;
					}
				}
			}
		}

		&__place {

			&_row {
				@include flexbox();
			}

			&_heading {
				width: 225px;
				min-width: 225px;
				padding-top: 10px;
				margin-bottom: 0;
				padding-right: 210px;
			}

			&_content {

			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__data {
			width: 650px;
		}

		&__gallery {
			width: 280px;
		}

		&__content {
			width: 650px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__data {
			width: 870px;
			margin-bottom: 20px;

			.rating {
				top: 0;
				right: 0;
				position: absolute;
			}
		}

		&__gallery {
			width: 280px;
		}

		&__content {
			width: 870px;
		}

		&__feature {
			padding-bottom: 5px;

			.swiper-slide {
				width: 25%;;

				&:nth-child(1),
				&:nth-child(2){
					margin-bottom: 0;
				}
			}
		}

		&__heading {
			margin-bottom: 10px;
		}

		&__service {
			padding-top: 5px;

			&_list {

				> li {
					width: 33.33%;
				}
			}
		}

		.schedule {
			margin-bottom: 25px;
		}

		.price {
			padding-top: 5px;
		}
	}
}

.rating {
	margin-bottom: 0.875rem;
	@include clearfix();

	&__label {
		float: left;
		padding: 5px 0;
		color: #4c4c4c;
		font-weight: 500;
		line-height: 1.5rem;
		font-size: 1.125rem;
		margin-right: 0.5rem;
	}

	&__value {
		float: left;
		width: 34px;
		height: 34px;
		font-weight: 400;
		padding: 10px 0;
		font-size: 14px;
		line-height: 14px;
		background: #fff;
		text-align: center;
		color: $color-purple;
		display: inline-block;
		@include border-radius(50%);
		@include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.17));
	}

	&__content {
		float: left;
		font-size: 0;
		line-height: 0;
		padding-top: 5px;
	}

}

.rank {
	font-size: 0;
	line-height: 0;

	img {
		margin-left: 8px;
	}
}

.review-rank {
	font-size: 0;
	line-height: 0;
	margin-left: -6px;

	img {
		margin-left: 6px;
	}
}

.schedule {
	width: 290px;
	overflow: hidden;
	background: #fff;
	margin-bottom: 1rem;
	@include border-radius(8px);
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));

	&__heading {
		font-weight: 400;
		padding: 0.5rem;
		background: #fff;
		text-align: center;
		font-size: 1.125rem;
		line-height: 1.5rem;
		@include border-radius(8px 8px 0 0);

		strong {
			font-weight: 500;
		}
	}

	&__content {
		font-size: 0;
		line-height: 0;
		background: #fccfd8;
		padding: 6px 13px 6px 13px;
		@include border-radius(0 0 8px 8px);

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include clearfix();

			li {
				float: left;
				width: 100px;
				padding: 9px 0;
				font-size: 1.125rem;
				line-height: 1.25rem;

				&:last-child {
					width: auto;
				}
			}
		}
	}

	.form-checkbox {

		span {
			font-weight: 400;

			&:before {
				background: #fff;
			}
		}

		input:checked + span:before {
			border: 5px solid #fff;
			background: $color-purple;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;

		&__content {
			padding: 13px 13px 13px 13px;

			ul {
				@include flexbox();
				@include justify-content(space-between);

				li {
					padding: 0;
					width: 14.285%;
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();

		&__heading {
			width: 280px;
			min-width: 280px;
			padding: 1rem 0.5rem;
			@include border-radius(8px 0 0 8px);
		}

		&__content {
			padding: 18px 13px 18px 13px;
			@include flex-grow(1);
			@include border-radius(0 8px 8px 0);
		}
	}
}

.feature {
	text-align: center;

	&__icon {
		width: 114px;
		height: 114px;
		display: block;
		position: relative;
		background: #fe9eaa;
		margin: 0 auto 0.5rem auto;
		@include border-radius(50%);

		&:before {
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			content: '';
			display: block;
			position: absolute;
			border: 2px solid #fff;
			@include border-radius(50%);
		}
	}

	&__title {
		font-weight: 700;
		text-align: center;
		line-height: 1.5rem;
		font-size: 1.375rem;

		strong {
			color: $color-purple;
		}
	}
}

.price {

	&__heading {
		color: #fff;
		padding: 0;
		list-style: none;
		font-weight: 700;
		margin: 0 0 10px 0;
		font-size: 1.25rem;
		line-height: 1.25rem;
		font-family: $font-head;
		background: $color-purple;

		> li {
			display: none;
			padding: 0.5rem 1.25rem;

			&:first-child {
				display: block;
			}
		}
	}

	&__content {
		padding: 0;
		color: #000;
		font-weight: 400;
		margin: 0 0 10px 0;
		line-height: 1.5rem;
		font-size: 1.125rem;
		list-style: none;
		background: #edf1f4;

		> li {
			display: none;
			padding: 0.25rem 0.625rem;
			@include clearfix();

			span {
				float: left;
				width: 100px;
				font-size: 1.25rem;
				font-family: $font-head;
			}

			strong {
				float: left;
				color: #4c4c4c;
				font-weight: 500;
			}

			&:first-child {
				display: block;
				padding: 0 0 0 3.25rem;
				cursor: pointer;
				position: relative;
				border-bottom: 1px solid #e6e6e6;


				&:after,
				&:before {
					z-index: 5;
					top: 24px;
					left: 20px;
					width: 8px;
					height: 2px;
					content: '';
					background: #ccc;
					position: absolute;
				}


				&:after {
					@include rotate(90deg);
				}
			}
		}

		&.open {

			> li {
				display: block;

				&:first-child {

					&:after {
						@include rotate(0deg);
					}
				}
			}
		}

		.price-title {
			border-left: 1px solid #fff;
			padding: 0.8125rem 1rem 0.8125rem 1rem;
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			margin-bottom: 0;
			@include flexbox();

			> li {
				width: 110px;
				display: block;
				text-align: center;
				padding: 0.625rem 1.125rem;

				&:first-child {
					width: auto;
					text-align: left;
					@include flex-grow(1);
				}
			}
		}

		&__content {
			margin-bottom: 0;
			@include flexbox();

			&:nth-child(even) {
				background: #fff;
			}

			> li {
				width: 110px;
				display: block;
				text-align: center;
				padding: 0.875rem 0.625rem;

				&:first-child {
					width: auto;
					text-align: left;
					border-bottom: none;
					padding: 0.875rem 1.125rem;
					@include flex-grow(1);

					&:after,
					&:before {
						display: none;
					}
				}

				span {
					display: none;
				}

				strong {
					float: none;
				}
			}
		}

		.price-title {
			padding: 0;
			border-left: none;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {

			> li {
				width: 150px;
			}
		}

		&__content {

			> li {
				width: 150px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.gallery {
	position: relative;

	&__item {
		display: block;
		outline: none;
		margin-bottom: 70px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 20px;
		height: 38px;
		outline: none;
		top: 100%;
		background-image: url("../img/slide_arrow.png");
		background-size: auto;
		margin-top: -58px;
	}

	.swiper-button-next {
		right: 50%;
		margin-right: -55px;
	}

	.swiper-button-prev {
		left: 50%;
		margin-left: -55px;
		@include rotate(180deg);
	}

	.tags {
		right: 0;
		bottom: 70px;
	}

	@media (min-width: $screen-md-min) {

		&__item {
			margin-bottom: 0;
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
		.swiper-wrapper {
			@include flex-direction(column);
		}

		.swiper-slide {
			margin-bottom: 20px;
		}

		.tags {
			top: 145px;
			right: 0;
			bottom: auto;
		}
	}

	@media (min-width: $screen-lg-min) {

		.tags {
			top: 308px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.sticker {
	left: -7px;
	top: 20px;
	z-index: 20;
	color: #fff;
	font-weight: 400;
	line-height: 1.25rem;
	font-size: 1.125rem;
	position: absolute;
	white-space: nowrap;
	display: inline-block;
	background: $color-purple;
	padding: 0.125rem 0.25rem 0.125rem 0.5rem;

	&:before {
		left: 0;
		top: 100%;
		width: 7px;
		height: 6px;
		content: '';
		position: absolute;
		background: url("../img/stiky__shadow.png") 0 0 no-repeat;
	}
}

.tags {
	margin: 0;
	padding: 0;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	list-style: none;
	position: absolute;
	background: rgba(0,0,0, 0.6);
	@include clearfix();

	> li {
		float: left;
		width: 32px;
		height: 42px;

		a {
			color: #fff;
			width: 32px;
			height: 42px;
			text-decoration: none;
			@include flexbox();
		}

		i {
			margin: auto;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}
	}

	&__camera {

		i {
			width: 22px;
			height: 17px;
		}
	}

	&__sex {

		i {
			width: 18px;
			height: 22px;
		}
	}

	&__diamond {

		i {
			width: 21px;
			height: 20px;
		}
	}

	&__calendar {

		i {
			width: 18px;
			height: 20px;
		}
	}
}

.divider {
	padding: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 2px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;

	@media (min-width: $screen-lg-min) {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.review {

	&__heading {
		margin-bottom: 15px;
		@include clearfix();

		h3 {
			float: left;
			margin-bottom: 0;
		}

		a {
			float: right;
			color: #91cbff;
			font-weight: 300;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $color-purple;
			}
		}
	}

	&__item {
		min-height: 95px;
		position: relative;
		margin-bottom: 20px;
		@include clearfix();

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__avatar {
		top: 5px;
		left: 0;
		width: 90px;
		position: absolute;

	}

	&__data {
		min-height: 95px;
		margin-left: 105px;
		@include clearfix();

		&_name {
			color: #000;
			float: left;
			font-weight: 400;
			margin-right: 20px;
			font-size: 1.25rem;
			line-height: 1.5rem;
			font-family: $font-head;
		}

		&_rating {
			float: left;
			padding-top: 5px;
		}
	}

	&__text {
		color: #4c4c4c;
		font-size: 1rem;
	}

	@media (min-width: $screen-md-min) {

		position: relative;

		&__item {
			padding-left: 105px;
		}

		&__data {
			margin-left: 0;
			min-height: 10px;
			margin-bottom: 10px;

			&_name {
				margin-right: 25px;
			}
		}

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__item {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}


.newFace {

}

.face {
	display: block;
	color: #4c4c4c;
	font-weight: 400;
	text-align: center;
	text-decoration: none;

	&:hover {
		color: $color-purple;
	}

	&__image {
		overflow: hidden;
		max-width: 150px;
		margin: 0 auto 5px auto;
		@include border-radius(8px);
	}

}