.salon {
	padding-bottom: 20px;

	&__girl {
		width: 290px;
		margin: 0 auto 35px auto;

		&_title {
			margin-bottom: 15px;
			font-size: 	1.875rem;
			line-height: 1.875rem;
			font-family: $font-head;
		}

		.swiper-slide {
			padding-left: 7px;
			padding-bottom: 70px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			width: 20px;
			height: 38px;
			outline: none;
			top: 100%;
			background-image: url("../img/slide_arrow.png");
			background-size: auto;
			margin-top: -58px;
		}

		.swiper-button-next {
			right: 50%;
			margin-right: -55px;
		}

		.swiper-button-prev {
			left: 50%;
			margin-left: -55px;
			@include rotate(180deg);
		}

		.sticker {
			left: 0;
		}
	}

	&__content {
		width: 290px;
		margin: 0 auto;
	}

	&__heading {
		color: #000;
		margin-right: -10px;
		position: relative;
		font-size: 1.625rem;
		line-height: 2.125rem;
		padding: 0 0 5px 50px;
		font-family: $font-head;

		&_logo {
			top: 0;
			left: 0;
			width: 40px;
			position: absolute;
		}

		&_name {

		}
	}

	&__contact {
		margin: 0;
		padding: 0;
		color: #4c4c4c;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.5rem;
		list-style: none;

		li {
			margin-bottom: 12px;
		}

		&_www {
			color: $color-purple;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&_phone {
			color: #4c4c4c;
			font-size: 1.5rem;
			text-decoration: none;
		}
	}

	&__map {
		height: 350px;
		position: relative;

		#salonMap {
			width: 100%;
			height: 100%;
		}
	}

	&__advantages {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			color: #4c4c4c;
			font-weight: 200;
			min-height: 30px;
			position: relative;
			padding-left: 42px;
			margin-bottom: 15px;
			font-size: 1.125rem;
			line-height: 1.375rem;
			@include flexbox();

			span {
				display: block;
				margin: auto 0;
			}
		}
	}

	&__price {

		&_info {
			font-size: 1rem;
			font-weight: 400;
			margin-bottom: 25px;
			line-height: 1.25rem;

			span {
				width: 20px;
				height: 20px;
				cursor: pointer;
				font-size: 1rem;
				background: #fff;
				font-weight: 200;
				line-height: 1rem;
				position: relative;
				text-align: center;
				padding: 0.125rem 0;
				margin-left: 10px;
				display: inline-block;
				@include border-radius(50%);
				@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));
			}
		}

		&_box {
			background: #fff;
			margin-bottom: 30px;
			padding: 20px 15px 5px 20px;
			@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));

			&_long {
				margin-bottom: 0;
			}

			h4 {
				font-size: 1.75rem;
				font-weight: 200;
				margin-right: -10px;
				margin-bottom: 5px;
				line-height: 1.875rem;
				font-family: $font-base;
			}

		}

		&_value {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 1.25rem;
			margin-bottom: 15px;
		}

		&_list {
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: 300;
			font-size: 1.125rem;
			line-height: 1.375rem;

			li {
				min-height: 26px;
				padding-left: 40px;
				position: relative;
				margin-bottom: 15px;
				@include flexbox();

				span {
					margin: auto 0;
					display: block;
				}

				&:before {

				}
			}
		}
	}

	&__report {
		font-weight: 200;
		font-size: 1.125rem;
		line-height: 1.25rem;

		strong {
			font-weight: 500;
		}

		p {
			margin-bottom: 10px;
		}

		h3 {
			margin-bottom: 10px;
		}

		&_info {
			font-size: 1rem;
			font-weight: 400;
			margin-bottom: 15px;
			line-height: 1.25rem;

			a {
				color: $color-purple;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			span {
				width: 20px;
				height: 20px;
				cursor: pointer;
				font-size: 1rem;
				background: #fff;
				font-weight: 200;
				line-height: 1rem;
				position: relative;
				text-align: center;
				padding: 0.125rem 0;
				margin-left: 10px;
				display: inline-block;
				@include border-radius(50%);
				@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));
			}
		}

		&__text {

		}

		&_image {
			display: none;
		}
	}

	&__gallery {
		margin-bottom: 15px;

		.swiper-slide {

			a {
				border: none;
				outline: none;
				display: block;
				margin-bottom: 60px;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			top: auto;
			width: 20px;
			height: 38px;
			outline: none;
			bottom: 0;
			background-image: url("../img/slide_arrow.png");
			background-size: auto;
		}

		.swiper-button-next {
			right: 50%;
			margin-right: -55px;
		}

		.swiper-button-prev {
			left: 50%;
			margin-left: -55px;
			@include rotate(180deg);
		}
	}

	&__more {
		color: #91cbff;
		font-weight: 300;
		font-size: 1.125rem;
		line-height: 1.5rem;
		text-decoration: none;

		&:hover {
			color: $color-purple;
		}
	}


	@media (min-width: $screen-md-min) {
		margin-left: -7px;
		@include flexbox();

		&__girl {
			width: 287px;
			min-width: 287px;

			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}

			.swiper-slide {
				padding-bottom: 0;
			}

			.swiper-wrapper {
				@include flex-direction(column);
			}

			.swiper-slide {
				margin-bottom: 20px;
			}

		}

		&__content {
			padding-left: 30px;
			@include flex-grow(1);
		}

		&__heading {
			min-height: 50px;
			padding: 0 0 5px 65px;
			font-size: 2.1875rem;
			line-height: 2.1875rem;

			&_logo {
				width: 50px;
			}
		}

		&__report {

			&_image {
				display: block;
				margin-bottom: 15px;
			}
		}

		&__gallery {

			.swiper-slide {

				a {
					margin-bottom: 0;
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__girl {

			.goods {
				background: #262626;

				&__user {
					background: #262626;

					&_name {
						color: #fff;
					}
				}
			}
		}

		&__heading {
			min-height: 50px;
			padding: 0 0 5px 65px;
			font-size: 2.5rem;
			margin-bottom: 5px;
			line-height: 2.5rem;

			&_logo {
				width: 50px;
			}
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__advantages {
			width: calc(50% - 10px);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__price {

			&_row {
				@include flexbox();
				@include flex-wrap(wrap);
				@include justify-content(space-between);
			}

			&_box {
				width: calc(50% - 10px);

				&_long {
					width: 100%;
				}

				&_row {
					@include flexbox();
					@include justify-content(space-between);

					.salon__price_list {
						width: calc(50% - 10px);
					}
				}
			}
		}

		&__report {

			&_row {
				@include flexbox();
				@include justify-content(space-between);
			}

			&_text {
				@include order(1);
				width: calc(50% - 10px);
			}

			&_image {
				@include order(2);
				width: calc(50% - 10px);
			}
		}
	}

}

.reports {
	margin-bottom: -60px;
	padding-top: 25px;
	padding-bottom: 60px;
	background: #edf1f4;

	.container {
		position: relative;
	}

	h3 {

	}

	p {

	}

	&__wrap {
		width: 290px;
		margin: 0 auto;
	}

	&__gallery {
		padding-bottom: 15px;
		margin: 0 -5px;

		.swiper-slide {
			padding: 5px 10px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			top: auto;
			width: 20px;
			height: 38px;
			outline: none;
			bottom: 0;
			background-image: url("../img/slide_arrow.png");
			background-size: auto;
		}

		.swiper-button-next {
			right: 50%;
			margin-right: -55px;
		}

		.swiper-button-prev {
			left: 50%;
			margin-left: -55px;
			@include rotate(180deg);
		}
	}

	&__item {
		color: #4c4c4c;
		display: block;
		overflow: hidden;
		background: #fff;
		margin-bottom: 60px;
		text-decoration: none;
		@include border-radius(5px);
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.18));

		span {
			display: block;
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.25rem;
			padding: 0.75rem 0.75rem;
		}
	}

	&__more {
		color: #91cbff;
		font-weight: 300;
		font-size: 1.125rem;
		line-height: 1.5rem;
		text-align: center;

		a {
			color: #91cbff;
			text-decoration: none;

			&:hover {
				color: $color-purple;
			}
		}
	}


	@media (min-width: $screen-md-min) {

		&__wrap {
			width: 100%;
		}

		&__gallery {

			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}
		}

		&__item {
			margin-bottom: 0;
		}

		&__more {
			top: 5px;
			right: 15px;
			text-align: right;
			position: absolute;
		}
	}

}

.salonFilter {
	margin: 0 -15px;

	&__elem {
		padding: 0 15px;
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__elem {
			width: 33.33%;
		}
	}
}

.salonList {


	> ul {
		padding: 0;
		margin: 0 -10px;
		list-style: none;

		> li {
			padding: 3px 10px;

			a {
				font-weight: 400;
				font-size: 1.125rem;
				line-height: 1.5rem;
				color: $color-purple;
				text-decoration: none;

				&:hover {
					color: #91cbff;
				}
			}

			sup {
				color: #91cbff;
				margin-left: 5px;
				font-style: italic;
			}
		}
	}
	@media (min-width: $screen-md-min) {

		> ul {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 50%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> ul {

			> li {
				width: 25%;
			}
		}
	}
}

.salonMap {
	height: 325px;
	margin-bottom: 40px;

	#map {
		width: 100%;
		height: 100%;
	}

	@media (min-width: $screen-md-min) {
		height: 415px;
	}

}

.salonBest {
	margin: 0 -15px 40px -15px;
	padding: 20px 12px;
	background: #2b2b2b url("../img/nav_bg.png");
	@include border-radius(8px);

	&__wrap {
		position: relative;
		border: 1px solid #fdf6c2;
		padding: 20px 12px 20px 12px;
		@include border-radius(8px);

		&:before {
			top: 0;
			left: 12px;
			content: '';
			width: 106px;
			height: 92px;
			position: absolute;
			background: url("../img/salon_best.png") 0 0 no-repeat;
		}
	}

	&__info {
		color: #fff;
		font-weight: 400;
		padding-top: 85px;
		font-size: 1.125rem;
		line-height: 1.5rem;
		margin-bottom: 10px;
	}

	&__logo {
		width: 50px;
		margin-bottom: 10px;
	}

	&__name {
		font-size: 1.5rem;
		margin-bottom: 10px;
		line-height: 1.75rem;
		color: $color-purple;
		font-family: $font-head;

		a {
			color: $color-purple;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}
	}

	&__contact {

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	&__price {
		padding: 2px 0;
		font-weight: 500;
		font-size: 1.375rem;
	}

	&__report {
		color: #91cbff;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: 230px;
	}

	&__slider {

		.swiper-slide {
			padding-bottom: 60px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			width: 20px;
			height: 38px;
			outline: none;
			top: auto;
			bottom: 0;
			background-image: url("../img/slide_arrow.png");
			background-size: auto;
		}

		.swiper-button-next {
			right: 50%;
			margin-right: -55px;
		}

		.swiper-button-prev {
			left: 50%;
			margin-left: -55px;
			@include rotate(180deg);
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			width: 100%;
			display: table;
			table-layout: fixed
		}

		&__info {
			width: 250px;
			display: table-cell;
			vertical-align: middle;
		}

		&__content {
			width: 420px;
			max-width: inherit;
			display: table-cell;
			table-layout: fixed
		}

		&__slider {

			.swiper-slide {
				padding-bottom: 0;
			}

			.swiper-button-prev,
			.swiper-button-next {
				display: none;
			}
		}

		&__goods {
			margin: 0 -10px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__elem {
			width: 50%;
			padding: 0 10px;
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 20px 20px;

		&__wrap {
			padding: 30px;

			&:before {
				left: 30px;
			}
		}

		&__info {
			width: auto;
		}

		&__content {
			width: 630px;
		}

		&__elem {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -50px 40px -50px;

		&__content {
			width: 880px;
		}

		&__elem {
			width: 25%;
		}
	}
}

.salonCard {

	&__info {
		color: #4c4c4c;
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.5rem;
		margin-bottom: 10px;
	}

	&__logo {
		width: 50px;
		margin-bottom: 10px;
	}

	&__name {
		font-size: 1.5rem;
		margin-bottom: 10px;
		line-height: 1.75rem;
		color: $color-purple;
		font-family: $font-head;

		a {
			color: $color-purple;
			text-decoration: none;

			&:hover {
				color: #4c4c4c;
			}
		}
	}

	&__contact {

		a {
			color: #4c4c4c;
			text-decoration: none;
		}
	}

	&__price {
		padding: 2px 0;
		font-weight: 500;
		font-size: 1.375rem;
	}

	&__report {
		color: #91cbff;
		text-decoration: none;

		&:hover {
			color: #4c4c4c;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: 230px;
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		&__info {
			width: 250px;
			margin-bottom: 0;
			padding-top: 30px;
			display: table-cell;
			vertical-align: top;
		}

		&__content {
			width: 420px;
			max-width: inherit;
			display: table-cell;
			table-layout: fixed
		}

		&__goods {
			margin: 0 -10px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__elem {
			width: 50%;
			padding: 0 10px;
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__info {
			width: auto;
		}

		&__content {
			width: 630px;
		}

		&__elem {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			width: 880px;
		}

		&__elem {
			width: 25%;
		}
	}
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}


.icon_list {

	> li {

		&:before {
			left: 0;
			top: 2px;
			content: '';
			position: absolute;
		}

		&.icon_room {

			&:before {
				width: 27px;
				height: 29px;
				background: url("../img/icon__info_room.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_food {

			&:before {
				width: 25px;
				height: 25px;
				background: url("../img/icon__info_food.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_shower {

			&:before {
				width: 25px;
				height: 28px;
				background: url("../img/icon__info_shower.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_time {

			&:before {
				width: 25px;
				height: 25px;
				background: url("../img/icon__info_time.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_smoking {

			&:before {
				width: 26px;
				height: 26px;
				background: url("../img/icon__info_smoking.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_alco {

			&:before {
				width: 28px;
				height: 27px;
				background: url("../img/icon__info_alco.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}


		&.icon_price_01 {

			&:before {
				top: 5px;
				width: 18px;
				height: 17px;
				background: url("../img/icon__price_01.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_02 {

			&:before {
				top: 5px;
				width: 23px;
				height: 23px;
				background: url("../img/icon__price_02.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_03 {

			&:before {
				width: 29px;
				height: 22px;
				background: url("../img/icon__price_03.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_04 {

			&:before {
				top: 5px;
				width: 20px;
				height: 21px;
				background: url("../img/icon__price_04.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_05 {

			&:before {
				top: 5px;
				width: 22px;
				height: 21px;
				background: url("../img/icon__price_05.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_06 {

			&:before {
				top: 5px;
				width: 21px;
				height: 21px;
				background: url("../img/icon__price_06.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_07 {

			&:before {
				width: 21px;
				height: 18px;
				background: url("../img/icon__price_07.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_08 {

			&:before {
				top: 5px;
				width: 22px;
				height: 22px;
				background: url("../img/icon__price_08.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_09 {

			&:before {
				top: 5px;
				width: 22px;
				height: 20px;
				background: url("../img/icon__price_09.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_10 {

			&:before {
				top: 2px;
				width: 24px;
				height: 25px;
				background: url("../img/icon__price_10.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.icon_price_11 {

			&:before {
				top: 2px;
				width: 17px;
				height: 26px;
				background: url("../img/icon__price_11.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}
	}
}

