$body-bg:                       #fff;
$color-purple:                  #d5095c;


// Fonts

$font-size-base:                1.125rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              200 !default;
$line-height-base:              1.25 !default;


$font-base:                     'PFDinTextPro', Arial, sans-serif !default;
$font-head:                     'BAZChronicleTG1', sans-serif !default;
$font-second:                   'PFDinTextCompPro', Arial, sans-serif !default;

$spacer:                        1rem !default;

$color-base:                    #4c4c4c;
$color-link:                    $color-purple;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  720px !default;
$container-lg:                  990px !default;
$container-xl:                  1210px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 1024px !default;
$screen-xl-min:                 1240px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
