.img-fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}



.text-mobile {
	display: inline;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}
.text-tablet {

	display: none;

	@media (min-width: $screen-md-min) {
		display: inline;
	}
}

.text-desktop {
	display: none;

	@media (min-width: $screen-xl-min) {
		display: inline;
	}
}

.hidden-mobile {

	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}


.hidden-tablet {
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.hidden-md {
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}


.hidden-lg {
	display: none;

	@media (min-width: $screen-lg-min) {
		display: none;
	}

	@media (min-width: $screen-xl-min) {
		display: block;
	}
}

.content_mobile {
	display: block;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.content_desktop {
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}
}


.text-blue {
	color: #4f87cc;
}

.text-red {
	color: #c91010;
}

.text-purple {
	color: $color-purple;
}

.text-black {
	color: #000;
}

.text-light-blue {
	color: #91cbff;
}