
.breadcrumb {
	font-size: 0;
	line-height: 0;
	padding: 8px 0;
	list-style: none;
	margin: 0 0 1.5rem 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;

	> li {
		color: #4c4c4c;
		font-weight: 200;
		font-size: 0.875rem;
		line-height: 1.25rem;
		display: inline-block;

		&:after {
			content: '/';
			color: #91cbff;
			padding: 0 0.625rem;
		}

		> a {
			color: #91cbff;
			text-decoration: none;

			&:hover {
				color: $color-purple;
			}
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}

	&_box {
		background: #fff;
		padding-top: 1.25rem;
		padding-bottom: 0.25rem;
	}

	@media (min-width: $screen-md-min) {
		padding: 13px 0;

		> li {
			font-size: 1.125rem;
			line-height: 1.5rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 1rem;
	}
}