
.btn {
	color: #fff;
	outline: none;
	font-weight: 300;
	cursor: pointer;
	user-select: none;
	font-size: 1.25rem;
	text-align: center;
	position: relative;
	white-space: nowrap;
	line-height: 1.375rem;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid $color-purple;
	background: $color-purple;
	font-family: $font-base;
	padding: 0.5rem 1.5rem;
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #ff005c;
		border-color: #ff005c;
	}

	&:active {
		@include box-shadow(inset 0px 0px 6px 0px rgba(0, 0, 0, 0.5));
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	input[type='file'] {
		display: none;
	}
}

.btn-blue {
	background: #b2daff;
	border-color: #b2daff;

	&:hover {
		background: #53aafa;
		border-color: #53aafa;
	}
}

.btn_white {
	background: #fff;
	border-color: #fff;
	color: $color-purple;
}

.btn-border {
	border-color: #fff;
	background: transparent;

	&:hover {
		color: $color-purple;
		background: #fff;
		border-color: #fff;
	}
}

.btn-full {
	width: 100%;
}

.btn_long {
	width: 100%;
}

.btn-send {
	width: 100%;
}


.btn-xl {
	width: 100%;

	@media (min-width: $screen-md-min) {
		width: 430px;
	}
}

.btn-lg {
	width: 100%;

	@media (min-width: $screen-md-min) {
		width: 260px;
	}
}

.btn-md {
	width: 100%;

	@media (min-width: $screen-md-min) {
		width: auto;
		padding-left: 65px;
		padding-right: 65px;
	}
}

.btn-sm {
	font-size: 1.125rem;
	padding: 0.25rem 1rem;
}

.btn-plus {
	padding-right: 2.75rem;
	position: relative;
	text-transform: none;

	&:after,
	&:before {
		top: 50%;
		right: 20px;
		width: 16px;
		height: 2px;
		content: '';
		margin-top: -1px;
		position: absolute;
		background: rgba(255,255,255,0.8);
	}

	&:before {
		@include rotate(90deg);
	}

	@media (min-width: $screen-md-min) {
		padding-left: 2rem;
		padding-right: 3rem;
	}
}

.btn-arrow-next {
	padding-left: 2.625rem;
	padding-right: 4.25rem;

	i {
		top: 50%;
		right: 40px;
		width: 18px;
		height: 16px;
		margin-top: -8px;
		position: absolute;
		display: inline-block;
	}

	.ico-svg {
		fill: #fff;
	}
}


.btn-filter-toggle {
	width: 264px;
	padding-right: 4rem;
	padding-left: 2.75rem;

	&:before {
		top: 50%;
		right: 45px;
		content: '';
		width: 10px;
		height: 10px;
		display: block;
		margin-top: -5px;
		position: absolute;
		background: url("../img/icon__filter_toggle.png") 50% 50% no-repeat;
	}

	.filter-open {
		display: inline;
	}

	.filter-close {
		display: none;
	}

	&.close {

		.filter-open {
			display: none;
		}

		.filter-close {
			display: inline;
		}

		&:before {
			@include rotate(180deg);
		}
	}
}