.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	font-weight: 200;
	display: inline-block;
	color: #4c4c4c;
	overflow: hidden;
	background: #fff;
	padding: 0.75rem 0.75rem 0.75rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25rem;
	text-decoration: none;
	position: relative;
	border: 1px solid #e6e6e6;
	@include placeholder(#4c4c4c);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.form-select {
	margin: 0;
	width: 100%;
	outline: none;
	color: #4c4c4c;
	overflow: hidden;
	font-weight: 200;
	position: relative;
	font-size: 1.125rem;
	line-height: 1.25rem;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #e6e6e6;
	padding: 0.75rem 2rem 0.75rem 0.75rem;
	background: #fff url("../img/select.png") 100% 50% no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}
}

.form-city {
	background: #fff url("../img/icon-select-city.png") 100% 50% no-repeat;
}

.form-double-arrow {
	background: #fff url("../img/icon-select-city.png") 100% 50% no-repeat;
}

.form-checkbox {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		min-height: 1.25rem;
		font-size: 1.125rem;
		line-height: 1.25rem;
		display: inline-block;
		padding-left: 1.625rem;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			width: 16px;
			height: 16px;
			background: #fff;
			position: absolute;
			display: inline-block;
			border: 1px solid #e6e6e6;
		}
	}

	input:checked + span:before {
		border: 5px solid $color-purple;
	}
}

.form-radio {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		min-height: 1.25rem;
		font-size: 1.125rem;
		line-height: 1.25rem;
		display: inline-block;
		padding-left: 1.625rem;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			width: 16px;
			height: 16px;
			background: #fff;
			position: absolute;
			display: inline-block;
			border: 1px solid #e6e6e6;
		}
	}

	input:checked + span:before {
		border: 5px solid $color-purple;
	}
}

.form-radio-icon {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		min-height: 1.25rem;
		font-size: 1.125rem;
		line-height: 1.25rem;
		display: inline-block;
		padding-left: 1.625rem;

		&:before {
			top: 0;
			left: 0;
			z-index: 10;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			background: #f3f3f3;
			display: inline-block;
			border: 1px solid #dddddd;
			@include border-radius(50%);
		}

		&:after {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 10;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			visibility: hidden;
			display: inline-block;
			border: 1px solid $color-purple;
			background: #fff url("../img/icon__check.png") 50% 50% no-repeat;
			@include border-radius(50%);
		}
	}

	input:checked + span {

		&:before {
			opacity: 0;
			visibility: hidden;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form-label {
	color: #000;
	display: block;
	min-height: 20px;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.25rem;
	margin-bottom: 0.375rem;
}

.form-group {
	margin-bottom: 1rem;
}

.form-hint {
	position: relative;
}

.form-section-title {
	color: #000;
	font-weight: 400;
	margin-bottom: 0.75rem;
}

.btn-group {
	padding-top: 0.5rem;
}

.error {

	.form-control {
		border-color: #d00000;
	}

	@media (min-width: $screen-md-min) {

		.form-tips {
			display: inline-block;
		}
	}
}

.form-tips {
	top: 9px;
	left: 100%;
	color: #d00000;
	font-size: 14px;
	padding: 3px 5px;
	line-height: 16px;
	margin-left: 20px;
	position: absolute;
	background: #ffdcdc;
	white-space: nowrap;
	display: none;

	&:before {
		top: 0;
		left: -22px;
		content: '';
		position: absolute;
		display: inline-block;
		border: 11px solid transparent;
		border-right: 11px solid #ffdcdc;
	}
}

.form-group-info {
	color: #4c4c4c;
	font-weight: 300;
	font-style: italic;
	font-size: 1.125rem;
	line-height: 1.25rem;
}

.btn_files {
	white-space: normal;

	input {
		display: none;
	}
}

.form-row {
	margin: 0 -10px;

	.form-col {
		padding: 0 10px;
	}


	@media (min-width: $screen-xl-min) {
		@include flexbox();

		.form-col {
			width: 50%;
		}
	}

	.form-btn {
		padding: 3px 0;
	}
}

.form-rows {
	margin: 0 -10px;
	@include flexbox();
	@include flex-wrap(wrap);

	.form-col-4 {
		width: 100%;
		padding: 0 10px;
	}

	@media (min-width: $screen-lg-min) {

		.form-col-4 {
			width: 50%;
		}
	}


	@media (min-width: $screen-xl-min) {

		.form-col-4 {
			width: 33.33%;
		}
	}
}

textarea {
	resize: none;
}

.period {
	@include flexbox();

	&__label {
		color: #000;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		padding: 12px 5px 12px 0;

		&.label_first {
			width: 25px;
		}

		&.label_last {
			width: 48px;
			padding-left: 15px;
		}
	}

	&__input {
		width: 95px;
	}
}


.file-form {
	cursor: pointer;

	.file-form-value {
		width: 100%;
		padding: 5px;
		color: #999;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
		text-align: center;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
	}
}

.form-file {
	font-weight: 300;
	font-size: 1.125rem;
	line-height: 1.25rem;
	display: inline-block;
	@include clearfix();

	input {
		display: none;
	}

	.form-file-label {
		float: left;
		color: #000;
		font-weight: 400;
		padding-right: 10px;
		display: inline-block;
	}

	.form-file-value {
		float: left;
		color: #4c4c4c;
		max-width: 180px;
		overflow: hidden;
		padding-left: 1.5rem;
		display: inline-block;
		background: url("../img/icon__file.png") 0 50% no-repeat;
	}
}

.form-date {
	padding: 0;
	margin: 0 -5px;
	list-style: none;
	@include flexbox();

	> li {
		padding: 0 5px;

		&:nth-child(1) {
			width: 75px;
		}

		&:nth-child(2) {
			@include flex-grow(1);
		}

		&:nth-child(3) {
			width: 90px;
		}
	}

	.form-select {
		padding: 0.75rem 1.75rem 0.75rem 0.625rem;
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -10px;

		> li {
			padding: 0 10px;

			&:nth-child(1) {
				width: 80px;
			}

			&:nth-child(2) {
				@include flex-grow(1);
			}

			&:nth-child(3) {
				width: 100px;
			}
		}
	}

}

.checkbox_group {
	margin: 0;
	padding: 0;
	list-style: none;
	@include clearfix();

	li {
		float: left;

		&:first-child {
			margin-right: 50px;
		}
	}
}

.form-group-info {
	font-weight: 300;
}

.form-text {
	font-weight: 300;
}

.form-info {
	font-weight: 400;
	padding-top: 0.25rem;
	color: $color-purple;
	display: inline-block;
}

.form-range {
	width: 100%;
	@include flexbox();

	.form-range-input {
		@include flex-grow(1);
	}

	.form-range-label {
		width: 14.285%;
		color: #4c4c4c;
		font-weight: 400;
		padding: 0.875rem 0;
		min-width: 14.285%;
		background: #d9d9d9;
		font-size: 1.125rem;
		line-height: 1.125rem;
		text-align: center;
	}
}

.form-price {
	padding: 0;
	margin: 0 -10px;
	list-style: none;
	@include clearfix();

	> li {
		float: left;
		padding: 0 10px;

		&:first-child {
			width: 150px;
		}

		&:last-child {
			width: 120px;
		}
	}
}

.photo-file {
	display: inline-block;

	input {
		display: none;
	}

	.photo-file-item {
		width: 90px;
		display: block;
		cursor: pointer;
	}
}

.checkbox-base {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		min-height: 1.25rem;
		font-size: 1.125rem;
		line-height: 1.25rem;
		padding-left: 1.5rem;
		display: inline-block;

		&:before {
			left: 0;
			top: 2px;
			content: '';
			width: 15px;
			height: 15px;
			overflow: hidden;
			position: absolute;
			display: inline-block;
			border: 1px solid #c8c8c8;
			background: #f5f5f5 url("../img/icon__checkbox_base.png") -300px 50% no-repeat;
		}
	}

	input:checked + span:before {
		background-position: 50% 50%;
	}
}