.table-responsive {
	width: 100%;
	font-size: 1rem;
	table-layout: fixed;
	border-spacing: 0;
	line-height: 1.125rem;
	border-collapse: collapse;

	thead {
		display: none;
	}

	tr {
		display: block;
		padding: 1rem 0;
		background: #edf1f4;
		margin-bottom: 1.25rem;
	}

	td {
		width: 100%;
		display: table;

		&:before {
			padding: 0.125rem 0.625rem;
			width: 80px;
			display: table-cell;
			content: attr(data-label);
			vertical-align: middle;
		}

		span {
			display: table-cell;
			padding: 0.125rem 0.625rem;
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.125rem;

		td {

			&:before {
				width: 165px;
				padding: 0.25rem 1.25rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 1.25rem;

		thead {
			display: table-row-group;
		}

		th {
			color: #fff;
			font-size: 1.125rem;
			font-weight: 700;
			padding: 1rem 0.5rem;
			text-align: center;
			line-height: 1.25rem;
			font-family: $font-head;
			background: $color-purple;

			&:first-child {
				width: 220px;
			}
		}

		tr {
			padding: 0;
			margin-bottom: 0;
			display: table-row;
		}

		td {
			width: auto;
			padding: 1rem 0.5rem;
			text-align: center;
			display: table-cell;
			white-space: nowrap;

			&:first-child {
				width: 220px;
				text-align: left;
			}

			&:before {
				display: none;
			}

			span {
				padding: 0;
				display: inline;
			}
		}
	}
}